@font-face{font-family:'MuseoSans-700';
           src:url("fonts/museo/museo.eot");
           src:url("fonts/museo/museo.eot") format("embedded-opentype"),
               url("fonts/museo/museo.woff") format("woff"),
               url("fonts/museo/museo.ttf") format("truetype")}

@font-face {
    font-family: 'League';
    src: url('fonts/league_gothic/league_gothic-webfont.eot');
    src: url('fonts/league_gothic/league_gothic-webfont.eot@#iefix') format('embedded-opentype'),
        url('fonts/league_gothic/league_gothic-webfont.woff') format('woff'),
        url('fonts/league_gothic/league_gothic-webfont.ttf') format('truetype'),
        url('fonts/league_gothic/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{font-family: Helvetica,Arial,sans-serif;margin:0;padding:0;}
ol,ul,li{list-style:none;margin:0;padding:0;border:0}
a{text-decoration:none;}
::-moz-selection{background-color:#adcdea;color:#333;text-shadow:none}
::selection{background-color:#adcdea;color:#333;text-shadow:none}
textarea, input { outline: none; }

#pagewrap{min-height:100%}
.container{margin:0 auto;width:960px}
#wrapper .container{margin:25px auto}

.btn {
    display: inline-block !important;
    padding: 4px 10px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-color: #f5f5f5 !important;
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6) !important;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6) !important;
    background-repeat: repeat-x !important;
    border: 1px solid #bbbbbb !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}

.btn:hover, .btn:active {
    text-decoration: none;
    background-position: 0px -15px !important;
    transition: background-position 0.1s linear 0s !important;
}

.btn-info {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-color: #49afcd !important;
    background-color: #2f96b4 !important;
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4) !important;
    background-image: linear-gradient(to bottom, #4e9bdf, #3e7cb3) !important;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4) !important;
    background-repeat: repeat-x !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
}
.btn-info:hover, .btn-info:active {
    color: #FFF !important;
    background-color: #3e7cb3 !important;
}

.span_btn_icon{
    margin-left: 5px !important;
}

/* === header === */
#header{height:52px;position:fixed;width:100%;position:relative;z-index:999;background: url(../media/header_bg.png);border-bottom:1px solid #e5e5e5}
#header .container .logo{height:42px;margin:5px 0; vertical-align:middle;border:0; float:left;}
#header .container .link{font-weight:700; font-size:18px; line-height:18px; color: #222; font-family: "MuseoSans-700",Helvetica,Arial,Verdana,sans-serif; vertical-align:middle;}

/* === footer === */
#footer{font-size:11px;line-height:11px;color:#666666;overflow:hidden;clear:both;position:relative;text-shadow:rgba(255,255,255,0.3) 0px 1px;padding:0px;}
#footer .container{padding:0 0 10px}
#footer .container .copyright_info{float:left;width:450px; margin-top: 50px;}
#footer .container .copyright_info li{float:left;margin-right:10px}
#footer .container .links{float:right;width:450px; margin-top: 5px;}
#footer .container .links li{float:right;margin-left:10px; top: -10px;}

#facebook_link{
    width:25px;
    height: 25px;
    background: url(../media/icones/facebook.png);
}

#facebook_link:hover{
    background: url(../media/icones/blue-facebook.png);
}

#twitter_link{
    width:25px;
    height: 25px;
    background: url(../media/icones/twitter.png);
}

#twitter_link:hover{
    background: url(../media/icones/blue-twitter.png);
}

#separador_links{
    width: 11px;
    height: 25px;
    background: url(../media/icones/separator.png);
}

#main-content{position:relative;margin-bottom:-100px}
.duck-animation{background-position:-1000px 30%;background-repeat:no-repeat;height:100px}

/* === Search form === */
#email {
    padding: 25px;
    height: 30px;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
}	

#email input {
    padding: 15px 110px 15px 20px;
    width: 185px;
    font-size: 14px;
    color: rgba(17, 26, 24, 1);
    border: 0px solid #666;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .45);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .45);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .45);
    margin-right:-98px;
    background:transparent;
}

#email button {
    border: none;
    background:#10489d;
    padding: 12px 20px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    color: white;
    font-size: 12px;
    font-weight:bold;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, .5);
    opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

#email button:hover  {
    opacity: .85;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;
    cursor:pointer;
}

#email button:active {
    border: 0px solid rgba(0, 0, 0, .2);
    background: -webkit-gradient(linear, left top, left bottom, from(#10489d), to(#389cfa));
    background: -webkit-linear-gradient(top, #10489d, #10489d);
    background: -moz-linear-gradient(top, #10489d, #10489d);
    background: -ms-linear-gradient(top, #10489d, #10489d);
    background: -o-linear-gradient(top, #10489d, #10489d);
}

#subscribe-success {
    margin-top: 35px;
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(110, 110, 110, 0.8);
    text-align: center;
}

/* === Media Query === */
@media screen and (min-width: 768px){
    #normal_page #header{border-bottom:none;box-shadow:0px 1px 3px rgba(0,0,0,0.25)}
    #normal_page #parallax_wrapper{width:1920px;min-height:100%;position:relative;margin-left:-960px}
    //#normal_page #content{width:590px;margin:0 auto;color:#fff;text-align:center;z-index:2;position:fixed;top:50%;left:50%;margin:-385px -300px 0}
    //#normal_page #content .button{margin-top:35px;cursor:pointer;position:relative;z-index:99999;}
    //#normal_page #content h1{font-color:#fff;font-family:"MuseoSans-700",Helvetica,Arial,Verdana,sans-serif;font-size:55px;font-weight:normal;line-height:65px;text-shadow:0px 1px 3px rgba(0,0,0,0.45)}
    //#normal_page #content p{font-family:HelveticaNeue,Arial,Verdana,sans-serif;font-size:18px;font-weight:normal;width:512px;margin:0 auto;line-height:26px;text-shadow:0px 1px 3px rgba(0,0,0,0.45)}
    #normal_page.pagina{background: url(../media/bg.jpg)}
    //#normal_page.pagina #content{width:590px;z-index:9999}
    //#normal_page.pagina h1{margin:0 auto;padding:200px 0 20px}
    #normal_page.pagina p{width:440px}
    #normal_page.pagina p a{color:#fffbe5;font-weight:bold;text-decoration:underline}
    #normal_page.pagina .scene{position:absolute;bottom:-100px;display:block;width:1920px}

    /* === scene's === */
    #normal_page.pagina .scene.scene_1{height:336px;background:url(../media/nuvens_frente.png) no-repeat left top;pozition:relative; z-index:-3;}
    #normal_page.pagina .scene.scene_2{height:500px;background:url(../media/nuvens_meio.png) no-repeat left top;pozition:relative; z-index:-2;}
    #normal_page.pagina .scene.scene_3{height:500px;background:url(../media/nuvens_tras.png) no-repeat left top;pozition:relative; z-index:-1;}

    /* === footer === */
    #footer .container{color:#111;margin-top:0;font-size:12px;text-shadow:none}
    #footer .container a{color:#111}
    #footer{background:url(../media/footer_admin.png);border:none;box-shadow:none;z-index:auto;height:70px;}
    #wrapper{padding:0;overflow:hidden;position:relative}
}

@media screen and (max-width: 767px){
    #normal_page #header .container{width:auto}
    //#normal_page #content{background:#fff;padding:20px;margin:20px;border:1px solid #ccc;text-align:center;border-radius:5px;box-shadow:0px 1px 0px rgba(0,0,0,0.05)}
    //#normal_page #content h1{font-size:24px;line-height:28px;margin:0 0 10px}
    //#normal_page #content p{font-size:14px;line-height:18px;color:#666;margin:0 0 10px}
    #normal_page #footer {display:none}
}

.main-menu{
    float:left;
}
.main-menu a{
    float:left;
    padding-left:30px;
    padding-top:7px;
    list-style: none;
}

.main-menu a:first-child{
    padding-left:0px;
}

.main-menu a{
    font-family: 'League',Arial,sans-serif;
    color:#555;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.main-menu .menu_selected{
    color:#4e9bdf !important;
}

.main-menu a:hover{
    color:#BBB;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*  _______________________________________

        02 GRID
    _______________________________________  */


.container2{width:860px; height:450px; margin:100px auto; position:relative}
.grid_260, 
.grid_540, 
.grid_820{display:inline; float:left; position:relative; margin-left:20px}
.container2.grid_260{width:260px}
.container2.grid_540{width:540px}
.container2.grid_820{width:820px}
.clear{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0}
.clearfix:after{clear:both; content:' '; display:block; font-size:0; line-height:0; visibility:hidden; width:0; height:0}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}


/*  _______________________________________

        03 TOOLBAR
    _______________________________________  */

.navbar .nav.pull-right {
    float: right;
    margin-right: 0;
}
.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}
.navbar-nav {
    margin: 0;
}
.pull-right {
    float: right;
}
.nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}

.navbar .nav>li {
    float: left;
}
.dropup, .dropdown {
    position: relative;
}

.nav {
    list-style: none;
}
.navbar.bg .nav>li>a {
    text-shadow: 0 1px 0 #000;
}
.bg .nav>li>a {
    color: #a5b6c7;
}
.nav.navbar-avatar>li>a {
    padding: 5px 10px;
}
.navbar .nav>li>a {
    padding: 15px 10px;
}
.navbar .nav>li>a {
    float: none;
    padding: 10px 15px 10px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}
.nav>li>a {
    display: block;
}

.nav {
    list-style: none;
}

.navbar.bg .nav>li>a {
    text-shadow: 0 1px 0 #000;
}
.bg .nav>li>a {
    color: #a5b6c7;
}
.navbar .nav>li>a {
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}
.nav {
    list-style: none;
}

.navbar-avatar .thumb-small {
    margin: 0 4px;
    vertical-align: baseline;
    display: inline-block;
    width: 36px;
}
.thumb-small {
    max-width: 36px;
}
.avatar {
    border-radius: 500px;
    background-color: #fff;
    padding: 2px;
}
.inline, .inline-desktop {
    display: inline-block;
}
.navbar.bg .nav>li>a {
    text-shadow: 0 1px 0 #000;
}
.bg .nav>li>a {
    color: #a5b6c7;
}
.navbar .nav>li>a {
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}
.nav {
    list-style: none;
}

.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}
img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.navbar.bg .nav>li>a {
    text-shadow: 0 1px 0 #000;
}
.bg .nav>li>a {
    color: #a5b6c7;
}
.navbar .nav>li>a {
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}
.nav {
    list-style: none;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #777777;
    border-bottom-color: #777777;
}
.navbar .nav .dropdown-toggle .caret, .nav .dropdown-toggle .caret {
    margin-top: 0;
    vertical-align: middle;
}
.navbar .nav .dropdown-toggle .caret {
    margin-top: 8px;
}
.navbar .nav .dropdown-toggle .caret, .nav .dropdown-toggle .caret {
    margin-top: 0;
    vertical-align: middle;
}
.caret_open {
    border-top: 0 !important;
    border-bottom: 4px solid #000000 !important;
    border-top-color: #0088cc !important;
    border-bottom-color: #0088cc !important;
}
.dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}
.navbar.bg .nav>li>a {
    text-shadow: 0 1px 0 #000;
}
.bg .nav>li>a {
    color: #a5b6c7;
}
.navbar .nav>li>a {
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}
.nav {
    list-style: none;
    margin: 0;
    padding:0;
}

.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu {
    position: absolute;
    top: 98%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#dropdown-menu1 {
    max-width: 100px;
    top: 95%;
}

#dropdown-menu2 {
    max-width: 100px;
    top: 95%;
}

.dropdown-menu:before{
    right: 12px;
    left: auto !important;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,0.2);
    content: '';
}
.dropdown-menu:after{
    right: 13px;
    left: auto !important;
}
.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.bg .nav > li > a:hover {
    color: #FFF;
}
.nav {
    list-style: none;
}

.dropdown-menu {
    list-style: none;
}

.nav {
    list-style: none;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu {
    list-style: none;
}

.dropdown-menu .badge {
    margin-top: 1px;
}
.btn-danger, .bg-danger, .btn-danger.btn-circle>i {
    color: #fff;
    background-color: #ff5f5f;
}
.badge {
    background: #b1b5b9;
    padding-left: 7px;
    padding-right: 7px;
}
.pull-right {
    float: right;
}
.badge {
    padding-right: 9px;
    padding-left: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.label, .badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}
.dropdown-menu>li>a {
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}
.dropdown-menu {
    list-style: none;
}
.nav {
    list-style: none;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}
.dropdown-menu {
    list-style: none;
}

.open1{
    background: url(../media/icones/blue-speech-bubbles.png) !important;
}

.open2{
    background: url(../media/icones/blue-alarm-bell.png) !important;
}

.open3 {
    background-color: #000;
    color: #FFF;
    background: none repeat scroll 0% 0% #f2f9ff;
    box-shadow: 0px 2px 1px #4f9ce0 inset;
}

.navbar .nav>li>div {
    padding-left: 10px;
    padding-right: 10px;
}
.m-b-small {
    margin-bottom: 10px;
}
.m-t {
    margin-top: 15px;
}

.navbar .badge-notes {
    top: -12px;
    margin-left: -15px;
    position: relative;
    font-size: 11px;
}

.btn-danger, .bg-danger, .btn-danger.btn-circle>i {
    color: #fff;
    background-color: #ff5f5f;
}

.badge {
    background: #b1b5b9;
    padding-left: 7px;
    padding-right: 7px;
}
.badge {
    padding-right: 9px;
    padding-left: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.label, .badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}

.dropdown-menu.panel {
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.m-l-small {
    margin-left: 10px;
}
form, .carousel, .form-horizontal .control-group, .nav-tabs, .alert, .panel, .progress, .breadcrumb, .accordion {
    margin-bottom: 10px;
}
.panel-large {
    min-width: 300px;
}
.panel {
    border-color: #e0e4e8;
}
.panel {
    padding: 15px 15px 0 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.bg-white {
    background: #fff;
}
.panel-heading, .panel-footer {
    border-color: #e0e4e8;
    background: #f7f8f9;
    line-height: 1.1;
}
.panel-heading {
    padding: 10px 15px;
    margin: -15px -15px 0;
    font-size: 17.5px;
    font-weight: 500;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
user agent stylesheetarticle, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
.panel-heading:before, .panel-heading:after {
    display: table;
    content: " ";
}
.panel-heading:after {
    clear: both;
}
.panel-heading:before, .panel-heading:after {
    display: table;
    content: " ";
}

.panel .list-group {
    background: transparent;
}
.m-t-n {
    margin-top: -15px;
}
.list-group-flush {
    margin: 15px -15px -15px;
}
.list-group {
    border-radius: 4px;
}
.list-group {
    margin: 0 -15px;
    background-color: #ffffff;
}

.panel .list-group.m-t-n .list-group-item:first-child {
    border-top: 0;
}
.list-group-flush .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-flush .list-group-item {
    border-width: 1px 0;
}
.list-group-item.media {
    margin-top: 0;
}
.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.media:first-child {
    margin-top: 0;
}
.media, .media .media {
    margin-top: 10px;
}
.list-group-item {
    padding-right: 15px;
    border-color: #e4e9ed;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 30px 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #dddddd;
}
.media, .media .media {
    margin-top: 15px;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.media>.pull-left {
    margin-right: 10px;
}
.thumb-small {
    max-width: 36px;
}
.pull-left {
    float: left;
}
.pull-left {
    float: left;
}
.m-b-none {
    margin-bottom: 0;
}
.block {
    display: block;
    margin-bottom: 10px;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.text-muted {
    color: #919599;
}
small {
    font-size: 85%;
}
.nav>li {
    float: left;
}
.text-small {
    font-size: 12px;
}
.panel-heading, .panel-footer {
    border-color: #e0e4e8;
    background: #FFF;
    line-height: 1.1;
}
.panel-footer {
    padding: 10px 15px;
    margin: 0 -15px -15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-image: none;
    filter: none;
    background-color: #13C4A5;
    color: #FFF;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    color: #FFF;
    text-decoration: none;
    background-color: #0081C2;
    background-image: linear-gradient(to bottom, #08C, #0077B3);
    background-repeat: repeat-x;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
}
.h5 {
    font-size: 14px;
    color: #657483;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.list-group-flush .list-group-item:last-child {
    border-bottom: 0px none;
}
.list-group-item:last-child {
    margin-bottom: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
a.list-group-item:hover, a.list-group-item:focus {
    background-color: #F2F9FF;
}

a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: #F2F9FF;
}

a {
    color: #3a5a7a;
}

.arrow-top:before {
    margin-top: -7px;
    top: 0;
    right: auto !important;
    border-bottom-color: #d1d4d7 !important;
    border-width: 0 7px 7px 7px !important;
    -moz-border-top-colors: #fff !important;
}

.arrow-top:after {
    margin-top: -6px;
    top: 0;
    right: auto !important;
    border-bottom-color: #fff !important;
    border-width: 0 6px 6px 6px !important;
}

#icone_notificacao{
    cursor: pointer !important;
    width: 25px;
    height: 25px;
    font-size: 1.5em;
    vertical-align: -14%;
    text-decoration: none;
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: inline-block;
    cursor: default;
    speak: none;
    background: url(../media/icones/alarm-bell.png);
}

#icone_mensagem{
    cursor: pointer !important;
    width: 25px;
    height: 25px;
    font-size: 1.5em;
    vertical-align: -14%;
    text-decoration: none;
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: inline-block;
    cursor: default;
    speak: none;
    background: url(../media/icones/speech-bubbles.png);
}

.badge-notes {
    text-align: center;
    width: 10px;
    top: -12px !important;
    margin-left: -17px !important;
    position: relative !important;
    font-size: 11px !important;
    color: #fff !important;
    background-color: #ff5f5f !important;
}

#dropdown_li2, #dropdown_li3{
    margin-left: 5px;
}

a{
    cursor: pointer !important;
}