#sair_admin{
    width: 24px;
    height: 24px;
    margin-top: 15px;
    background: url(../media/icones/exit.png);
}

#sair_admin:hover{
    background: url(../media/icones/blue-exit.png) !important;
}

html, body {
    height: 100%;
    min-height: 100%;
    background: url(../media/bg_admin.gif);
}

#height-wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto -38px;
    min-height: 100%;
}

#content-wrapper {
    height: 100%;
    position: relative;
    margin-bottom: 38px;
}

.push {
    height: 38px;
}

.webkit .push {
    height: 60px;
}

.webkit .clear  + .push {
    height: 38px;
}

/* ==================================================
 * 2) Main Content
 * ================================================== */
.main_content {
    padding: 20px;
    overflow: hidden;
}

.main_content h2 {
    margin-top: 0;
    padding-bottom: 6px;
    margin-bottom: 4px;
    width: 100%;
    background: url(../media/title-underline.png) repeat-x bottom;
}

/* ==================================================
 * 3) Boxes
 * ================================================== */

.box {
    margin-top: 15px;
}

/* ==================================================
 * 3a) Boxes: Header
 * ================================================== */

.box .header {
    background: url(../media/box_header_bg.gif);
    height: 34px;
    line-height: 34px;
    border: 1px solid #485b6b;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
}

.box .header.grey {
    background: url(../media/plugins/boxes/bg-header.png);
    filter: none;
    border-color: #C8C8C8;
}

.box .header.grey h3 {
    color: #383838;
    text-shadow: none;
}

.box.closed .header {
    border-bottom: 1px solid #485b6b;
    border-radius: 3px;
}

.box .header h3 {
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 8px;
    padding-left: 10px;
    background: url(../media/plugins/boxes/divider-header.png) top left no-repeat !important;
}

.box .header.no-icon h3 {
    background: none !important;
    margin-left: 0;
}

.box .header img {
    display: inline-block;
    margin: 9px auto;
    margin-left: 8px;
    float: left;
    -moz-user-select: none;
}

.box .header span {
    background: url(../media/icones/toggle.png) no-repeat;
    cursor: pointer;
    display: block;
    float: right;
    height: 16px;
    margin-right: 10px;
    margin-top: 10px;
    width: 16px;
}

.box.closed .header span {
    background: url(../media/icones/toggle-expand.png) no-repeat;
}

/* ==================================================
 * 3b) Boxes: Content
 * ================================================== */

.box .content {
    padding: 0 10px;
    border: 1px solid #485b6b;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #2B5177;
    background: #fff;
}

.box.closed .content {
    display: none;
}

.box .content.grey {
    border-top-color: #C8C8C8;
}

.box .content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.box .content.with-actions {
    border-radius: 0;
    border-bottom: 0;
}

.box .content.no-header {
    border-radius: 3px;
    border: 1px solid #C8C8C8;
}

.box .content.no-padding {
    padding: 0;
}

.border-radius-bottom {
    border-radius: 0 0 3px 3px;
}

/* ==================================================
 * 3c) Boxes: Actions Bar
 * ================================================== */

.box .actions {
    border: 1px solid #485b6b;
    background: url(../media/plugins/boxes/bg-action.png) repeat-x #f7f7f7;
    border-radius: 0 0 3px 3px;
}

.box .actions:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.box .actions input {
    margin: 0;
}

.box .actions-left {
    float: left;
    margin: 5px;
    margin-left: 10px;
}

.box .actions-right {
    float: right;
    margin: 5px;
    margin-right: 10px;
}

/* ==================================================
 * 3d) Boxes: Tabs
 * ================================================== */
.box .header ul {
    font-size: 12px;
    padding: 0;
    margin: 7px 0;
    margin-right: 6px;
    margin-top: 6px;
    float: right;
}

.ie .header ul {
    overflow: hidden;
    border-radius: 5px;
}

.box .header ul li {
    display: inline;
    list-style: none;
}

.box .header ul li a {
    padding: 0 10px;
    margin: 0;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    /* Gradient */
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefefe 0%, #f7f7f7 80%, #ededed 96%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(80%,#f7f7f7), color-stop(96%,#ededed), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#f7f7f7 80%,#ededed 96%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefefe 0%,#f7f7f7 80%,#ededed 96%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefefe 0%,#f7f7f7 80%,#ededed 96%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(top,  #fefefe 0%,#f7f7f7 80%,#ededed 96%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.box .header ul li:first-child a {
    border-radius: 5px 0 0 5px;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
}

.box .header ul li:last-child a {
    border-radius: 0 5px 5px 0;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}

.box .header ul li.current a {
    background: rgb(46,86,129); /* Old browsers */
    background: rgb(46,86,129); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(46,86,129,1) 0%, rgba(88,130,175,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,86,129,1)), color-stop(100%,rgba(88,130,175,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(46,86,129,1) 0%,rgba(88,130,175,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(46,86,129,1) 0%,rgba(88,130,175,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(46,86,129,1) 0%,rgba(88,130,175,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(46,86,129,1) 0%,rgba(88,130,175,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e5681', endColorstr='#5882af',GradientType=0 ); /* IE6-9 */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
    /* The inset shadow */
    -webkit-box-shadow: inset 0px 0px 3px 0px #000;
    -moz-box-shadow: inset 0px 0px 3px 0px #000;
    box-shadow: inset 0px 0px 3px 0px #000;
}

.box .header ul li a {
    line-height: 21px;
    display: block;
    float: left;
}

.box .header ul li.current a {
    color: #FFFFFF;
}

/*
 * 
 * ==================
 *   Footer Styling
 * ==================
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Generic Buttons
 * 2) Header: Toolbar
 *    a) Small button
 * 	  b) Large button
 * 3) Header: Main
 */

/* ==================================================
 * 1) Generic
 * ================================================== */

footer {
    color: #353535 !important;
    width: 100%;
    height: 195px;
    line-height: 36px;
    float: left;
    position: relative;
    z-index: 101;

    border-bottom: 1px solid #fff;
    /* The black gradient */
    /*	background: #353535;  Old browsers 
            background: -moz-linear-gradient(top,  #353535 0%, #101010 100%);  FF3.6+ 
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#101010));  Chrome,Safari4+ 
            background: -webkit-linear-gradient(top,  #353535 0%,#101010 100%);  Chrome10+,Safari5.1+ 
            background: -o-linear-gradient(top,  #353535 0%,#101010 100%);  Opera 11.10+ 
            background: -ms-linear-gradient(top,  #353535 0%,#101010 100%);  IE10+ 
            background: linear-gradient(top,  #353535 0%,#101010 100%);  W3C 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#101010',GradientType=0 );  IE6-9 */
}

/* ==================================================
 * 1a) Generic: Button Bar
 * ================================================== */

footer #button_bar {
    display: inline;
    float: right;
    /* The seperator on the very right */
    padding-right: 2px;
    background: url(../media/footer/button_bar-seperator.png) right no-repeat;
}

footer #button_bar li, footer #button_bar ul {
    display: table-cell;
    padding: 0;
}

footer #button_bar a {
    display: inline-block;
    height: 100%;
    padding: 0 15px;
    margin: 0; 
}

footer #button_bar a:active, footer #button_bar a:hover {
    /* The inverse black gradient */
    background: #101010; /* Old browsers */
    background: -moz-linear-gradient(top,  #101010 0%, #353535 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101010), color-stop(100%,#353535)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #101010 0%,#353535 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #101010 0%,#353535 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #101010 0%,#353535 100%); /* IE10+ */
    background: linear-gradient(top,  #101010 0%,#353535 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#353535',GradientType=0 ); /* IE6-9 */
}

footer #button_bar span {
    display: inline-block;
    height: 100%;
    /* The seperator */
    padding-left: 2px;
    background: url(../media/footer/button_bar-seperator.png) left no-repeat;
}

/*
 * 
 * ================
 *   Typographics
 * ================
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 *  1) Generic
 *  2) Header
 *     a) Toolbar
 *  3) Navigation
 *  4) Sidebar
 *     a) Navigation
 *  5) Footer
 *  -- Sprites:
 *  6) Forms
 *     a) Placeholders
 *  7) Activity Stream
 *  8) Loading Box
 *  9) User Info
 * 10) Stats List
 * 11) Steps
 * 12) Alert Boxes
 * 13) Boxes
 * 14) Buttons
 * 15) Shortcuts
 * 16) Tables
 * 17) Wizard
 *     a) Steps
 *     b) Sidebar
 *     c) Content
 */

/* ==================================================
 * 1) Generic
 * ================================================== */

a, a:visited {
    color: #444;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #052646;
    outline: none;
}

/* ==================================================
 * 2) Header
 * ================================================== */

header a, header a:visited, header a:focus {
    color: #4a4a4a;
    text-decoration: none;
    outline: none;
}

header a:hover {
    color: #191919;
}

#header_toolbar h1 {
    color: #FFFFFF;
    font-size: 17px;
    line-height: 37px;
}

/* ==================================================
 * 2a) Header: Toolbar
 * ================================================== */

.toolbar_small > .toolbutton > span {
    font-size: 10px;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 00, 0.75);
    filter: dropshadow(color=#CC000000, offx=0, offy=1);
    /* In the circle Arial looks better */
    font-family: Arial;
}

.toolbox h3 {
    color: #efefef;
    font-size: 12px;
    text-shadow: 0px 1px 1px rgba(0, 0, 00, 0.75);
    filter: dropshadow(color=#CC000000, offx=0, offy=1);
}

.toolbar_large .toolcaption {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 00, 0.75);
    filter: dropshadow(color=#CC000000, offx=0, offy=1);
}

.toolbar_large .dropdown {
    color: #2b2b2b;
}

.toolbar_large .dropdown li:hover a, .toolbar_large .dropdown li:active a {
    color: #fff;
}

/* ==================================================
 * 3) Navigation
 * ================================================== */
#nav_main > li a {
    font-size: 13px;
    text-shadow: 0px 1px 0px #ffffff;
    filter: shadow(color=#ffffff, direction: 180, strength: 1);
}

#nav_main > li.current > a, #nav_main > li.current > ul li.current a  {
    color: #205a94;
}

/* ==================================================
 * 4) Sidebar
 * ================================================== */

aside, aside h2 {
    font-size: 13px;
}

/* ==================================================
 * 4a) Sidebar: Navigation
 * ================================================== */

aside nav a, aside nav a:visited, aside nav a:focus {
    outline: none;
    color: #4b4b4b;
    text-decoration: none;
}

aside nav a:hover, aside nav a.current:hover {
    color: #fff;
    text-shadow: 0px 1px 0px #000;
    filter: shadow(color=#000, direction: 120, strength: 1);
}

aside nav a.current {
    color: #205a94;
    text-shadow: 0px 1px 0px #fff;
    filter: shadow(color=#fff, direction: 120, strength: 1);
}

aside nav ul.sub a:hover {
    color: #292929;
}

aside nav ul.sub a.current {
    color: #164a7e;
}

/* ==================================================
 * 5) Footer
 * ================================================== */
footer {
    background: url(../media/footer_admin.gif);
    color: #f4f4f4;
    font-size: 12px;
    text-shadow: 0px 1px 0px #353535;
    filter: shadow(color=#353535, direction: 180, strength: 1) progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#101010',GradientType=0 );
}

footer #button_bar a, footer #button_bar a:visited, footer #button_bar a:focus {
    color: #e6e6e6;
    text-decoration: none;
}

footer #button_bar a:active {
    color: #ffffff;
}

/* ==================================================
 * Sprites
 * ================================================== */

/* ==================================================
 * 6) Sprite: Forms
 * ================================================== */

input {
    color: #54616a;
}

input, label {
    font-size: 12px;
}

label, form p {
    color: #58646d;
}

legend {
    font-weight: bold;
}

label, .label {
    color: #666666;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 0 1px 0 #FFFFFF;
}

input.error {
    color: #870d0d;
}

label.error {
    color: #b13636;
}

label.error.red {
    color: #fff !important;
    text-shadow: 0px 1px 1px #460909;
    filter: dropshadow(color=#460909, offx=0, offy=1);
}

/* ==================================================
 * 6a) Sprite: Forms: Placeholders
 * ================================================== */

::-webkit-input-placeholder {
    color: #c8c8c8;
}

input:-moz-placeholder {
    color: #c8c8c8;
}

/* ==================================================
 * 7) Sprite: Acitivty Stream
 * ================================================== */

.activity .description, .activity .description a, .activity .description small {
    color: #262626;
    font-size: 12px;
}

.activity .description a {
    color: #305883;
    text-decoration: none;
}

.activity .description small a {
    color: #747474;
}

/* ==================================================
 * 8) Sprite: Loading Box
 * ================================================== */

#loading p {
    color: #fff;
    text-shadow: 0px 1px 1px #000;
    filter: dropshadow(color=#000, offx=0, offy=1);
}

/* ==================================================
 * 9) Sprite: User Info
 * ================================================== */

.userinfo .info a  {
    font-size: 12px;
    color: #6f6f6f;
    text-decoration: none;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}

.userinfo .links li a {
    color: #4d4d4d;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
    text-decoration: none;
}

/* ==================================================
 * 10) Sprite: Stats List
 * ================================================== */

.stats-list span {
    color: #313131;
    font-size: 18px;
}

.stats-list a {
    color: #464646 !important;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

/* ==================================================
 * 11) Sprite: Steps
 * ================================================== */

.step span {
    text-align: center;
    background: #fff;
    color: #2e5681;
    font-weight: bold;
    font-size: 14px;
}

.step a {
    text-decoration: none;
}

.step strong, .step small {
    font-size: 12px;
}

.step strong {
    display: block;
    color: #2a2a2a;
}

.step small {
    color: #717171;
}

/* ==================================================
 * 12) Sprite: Alert Box
 * ================================================== */

.alert {
    text-shadow: 0px 1px 1px #fff;
}

.alert span.hide {
    text-shadow: 1px 1px 0 #FFFFFF;
}

.alert.success {
    color: #2a632e;
}

.alert.error {
    color: #820101;
}

.alert.warning {
    color: #675100;
}

.alert.info {
    color: #205a94;
}

.alert.note {
    color: #5b5b5b;
}

/* ==================================================
 * 13) Sprite: Boxes
 * ================================================== */

.box .header h3 {
    font-size: 13px;
    color: #222;
    font-weight: 700;
}

/* ==================================================
 * 14) Sprite: Buttons
 * ================================================== */
button, input[type="submit"], a.button {
    color: #58646d;
    font-size: 12px;
}

button:hover, input[type="submit"]:hover, a.button:hover, .customfile-hover button {
    color: #fff;
    text-shadow: 0px 1px 0px #12100b;
    filter: shadow(color=#12100b, direction: 180, strength: 1);
}

button.red, input[type="reset"], a.button.red {
    color: #952a2a;
}


button:hover.red, button:active.red, input[type="reset"]:hover, input[type="reset"]:active, a.button.red:hover, a.button.red:active {
    color: #fafafa;
    text-shadow: 0px 1px 1px rgba(18, 16, 11, 0.5);
    filter: dropshadow(color=#8812100b, offx=0, offy=1);
}

button[disabled], input[type="submit"][disabled], a.button[disabled] {
    color: #58646d;

    text-shadow: none;
    filter: none;
}

/* ==================================================
 * 15) Sprite: Shortcuts
 * ================================================== */

.shortcuts li:hover strong {
    color: #205a94;
    text-shadow: 0px 1px 0px #fff;
}

.shortcuts strong {
    color: #2a2a2a;
    font-size: 14px;
}

.shortcuts span {
    color: #717171;
    font-size: 12px;
}

/* ==================================================
 * 16) Sprite: Tables
 * ================================================== */

.dataTables_wrapper {
    text-shadow: 0 1px 0 #fff;
    font-weight: 400;
}

.table thead th:hover {
    color: #023a73;
}

.dataTables_wrapper .actions {
    text-shadow: 0 1px 0 #e5e5e5;
    color: #222222;
}

.paginate_button, .paginate_active {
    color: #373737;
    text-shadow: 0 1px 0 #FFFFFF;
}

.paginate_button_disabled {
    color: #9F9F9F;
}

.paginate_active {
    color: #FCFCFC;
    text-shadow: 0 1px 0 #000000;
}

/* ==================================================
 * 17) Sprite: Wizard
 * ================================================== */

.wizard p {
    font-size: 12px;
    color: #545454;
}

/* ==================================================
 * 17a) Sprite: Wizard: Steps
 * ================================================== */

.wizard .steps li a {
    text-decoration: none;
    color: #000;
}

.wizard .steps li span, .wizard .steps li strong {
    color: #2d2d2d;
}

.wizard .steps li span {
    font-size: 13px;
}

.wizard .steps li strong {
    font-size: 12px;
}

.wizard .steps li small {
    color: #8b8b8b;
    font-size: 11px;
}

/* ==================================================
 * 17b) Sprite: Wizard: Sidebar
 * ================================================== */

.wiz_sidebar > span, .wiz_sidebar > div > strong {
    color: #2d2d2d;
}

.wiz_sidebar > span {
    font-size: 25px;
}

.wiz_sidebar > div > small {
    color: #8b8b8b;
    font-size: 11px;
}

/* ==================================================
 * 17c) Sprite: Wizard: Content
 * ================================================== */

.wiz_content h3 {
    color: #2d2d2d;
    font-size: 15px;
}

/*
 * 
 * ===================
 *   IE Fixes
 * ===================
 * 
 */

/* ==================================================
 * 1) Make bad browsers happy
 * ================================================== */

.ie7 .special_page .background {
    text-align: left;
    left: 50%;
    margin-left: -395px;
}

.ie7 .special_page .content .wrapper {
    text-align: left;
    left: 50%;
    margin-left: -200px;
}

.ie7 #nav_main li {
    margin-right: 4px;
}
.ie7 #nav_main li, .ie7 #nav_main li a {
    zoom: 1;
    display: inline;
}

.ie7 #nav_main li a {
    padding-top: 10px;
}

.ie7 #nav_sub li {
    display: inline;
    zoom: 1;
}

.ie7 #nav_main li ul {
    padding-top: 10px;
}

.ie7 aside nav li.last-child, .ie8 aside nav li.last-child {
    border-bottom: none;
}

.ie button:hover, .ie button:active {
    box-shadow: inset 0px 0px 1px 0px rgba(255, 255, 255, 0.42);
}

.ie7 body, .ie7 html {
    font-family: Arial;
}

.ie7 .shortcuts li {
    zoom: 1;
    display: inline;
}

.ie7 .wizard .steps li a {
    zoom: 1;
    display: inline;
}

.ie7 .wizard .steps li {
    zoom: 1;
    display: inline !important;
}

.ie7 .stats-list span, .ie7 .stats-list a {
    zoom: 1;
    display: inline;
    float: none;
}

.ie7 aside {
    position: static;
}

.ie7 .toolbar_small, .ie7 .toolbar_large {
    zoom:1;
    display: inline;

}

.ie7 .step {
    zoom: 1;
    display: inline;
}

.ie7 .box .content {
    zoom: 1;
}

.ie7 .box .actions {
    zoom: 1;
}

.ie7 .gallery li {
    zoom: 1;
    display: inline;
    background: #000;
}

.ie7 .activity .avatar {
    zoom: 1;
    display: inline;
}

.ie7 .activity .description {
    zoom: 1;
    display: inline;
}

/*
 * 
 * ===================================
 *   Frequently Used Sprites/Plugins
 * ===================================
 * A collection of sprite stylings, which are frequently used.
 * It would't make sense, to deliver them seperately.
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Alert Boxes
 * 2) Buttons
 * 3) jGrowl
 * 4) Tipsy
 * 5) Fallr
 */

/* ==================================================
 * 1) Alert Boxes
 * ================================================== */

.alert {
    position: relative;
    border: 1px solid;
    border-radius: 3px;
    clear: both;
    margin-bottom: 9px;
    margin-top: 10px;
    padding: 7px 15px;
    padding-left: 30px;
    /* The inset shadow */
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.65);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.65);
    box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.65);
}

.alert.no-margin {
    box-shadow: none;
    border-radius: 0;
    border-width: 1px 0;
    margin-left: -10px;
    margin-right: -10px;
}

.alert.no-margin.top {
    border-width: 0 0 1px;
    margin-top: 0;
}

.alert.no-margin.bottom {
    border-width: 1px 0 0;
    margin-bottom: 0;
}

.alert span.hide {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin: 0;
}

.alert span.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 7px;
    top: 50%;
    margin-top: -8px;
}

.alert.success {
    border-color: #70a772;
    background: url(../media/plugins/alertboxes/bg-success.png) repeat-x #a3d9a5;
}

.alert.success span.icon {
    background: url(../media/icones/tick-circle.png);
}

.alert.error {
    border-color: #cb5959;
    background: url(../media/plugins/alertboxes/bg-error.png) repeat-x #f2aeae;
}

.alert.error span.icon {
    background: url(../media/icones/cross-circle.png);
}

.alert.warning {
    border-color: #c9ab40;
    background: url(../media/plugins/alertboxes/bg-warning.png) repeat-x #ffe68b;
}

.alert.warning span.icon {
    background: url(../media/icones/exclamation.png);
}

.alert.info {
    border-color: #446d99;
    background: url(../media/plugins/alertboxes/bg-information.png) repeat-x #a5c8f4;
}

.alert.info span.icon {
    background: url(../media/icones/information.png);
}

.alert.note {
    border-color: #a3a3a3;
    background: url(../media/plugins/alertboxes/bg-note.png) repeat-x #dfdfdf;
}

.alert.note span.icon {
    background: url(../media/icones/notebook.png);
}

/* ==================================================
 * 2) Buttons
 * ================================================== */

button, input[type="submit"], input[type="reset"], a.button {
    display: block;
    /* Setting the height */
    height: 25px;
    line-height: 25px;
    width: auto;
    /* The padding */
    padding: 0 10px;
    /* And the beautiful style */
    border: 1px solid #c7c7c7;
    background: url(../media/plugins/buttons/normal/bg.png);
    border-radius: 5px;
    /* "useful if you don't want a bg color from leaking outside the border" */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* The shadow around */
    -webkit-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
    -moz-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
    box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
}

.button-wrap {
    border-radius: 5px;
    overflow: hidden;
}

button:hover, button:active, input[type="submit"]:hover, input[type="submit"]:active, input[type="reset"]:hover, input[type="reset"]:active, a.button:hover, a.button:active, .customfile-hover button {
    border-color: #2462a0;
    background-image: url(../media/plugins/buttons/hover/bg.png);
    -webkit-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1), inset 0px 0px 1px 0px rgba(255, 255, 255, 0.42);
    -moz-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1), inset 0px 0px 1px 0px rgba(255, 255, 255, 0.42);
    box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1), inset 0px 0px 1px 0px rgba(255, 255, 255, 0.42);
}

button:active, input[type="submit"]:active, a.button:active , .customfile-focus button{
    background: url(../media/plugins/buttons/active/bg.png);
}

a.button {
    height: 23px;
}

button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], a.button[disabled] {
    color: #D3D3D3;
    border: 1px solid #c7c7c7;
    background: url(/images/peach/sprites/buttons/normal/bg.png);
    cursor: default;
    text-shadow: 0 0 0;
}

/* ==================================================
 * 2) Buttons: Red
 * ================================================== */


button.red, input[type="reset"], a.button.red {
    color: #952a2a;
}

button:hover.red, button:active.red, input[type="reset"]:hover, input[type="reset"]:active, a.button.red:hover, a.button.red:active {
    border-color: #870d0d;
    background-image: url(../media/plugins/buttons/hover/bg-red.png);
}

button:active.red, input[type="reset"]:active, a.button.red:active {
    background: url(../media/plugins/buttons/active/bg-red.png);
}



/* ==================================================
 * 3) jGrowl
 * ================================================== */

div.jGrowl {
    z-index: 			9999;
    color: 				#222222;
    font-size: 			12px;
    text-shadow: 		0 1px 0 #FFF;

    margin: 			0 10px;
    box-shadow: 		0 1px 3px rgba(0, 0, 0, 0.25);
    overflow: 			hidden;
    border-radius: 		0 0 2px 2px;
}

/** Normal Style Positions **/
div.jGrowl {
    position:			absolute;
}

body > div.jGrowl {
    position:			fixed;
}

div.jGrowl.top-left {
    left: 				0px;
    top: 				0px;
}

div.jGrowl.top-right {
    right: 				0px;
    top: 				0px;
}

div.jGrowl.bottom-left {
    left: 				0px;
    bottom:				0px;
}

div.jGrowl.bottom-right {
    right: 				0px;
    bottom: 			0px;
}

div.jGrowl.center {
    top: 				0px;
    width: 				50%;
    left: 				25%;
}

/** Cross Browser Styling **/
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
    margin-left: 		auto;
    margin-right: 		auto;
}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
    zoom: 					1;
    width: 					235px;
    padding: 				10px;
    font-family: 			Tahoma, Arial, Helvetica, sans-serif;
    font-size: 				1em;
    text-align: 			left;
    display: 				none;
    border-bottom: 			1px solid #E5E5E5;
    border-top: 			1px solid #FFFFFF;
    background-color: 		#fafafa;
}

div.jGrowl div.jGrowl-notification:first-child {
    border-top: 			none;
}

div.jGrowl div.jGrowl-notification:last-child, div.jGowl div.jGowl-closer:last-child {
    border-bottom: 			none;
    border-radius: 			0 0 2px 2px;
    overflow: hidden;
}

div.jGrowl div.jGrowl-notification:hover {
    background: 			url(../media/plugins/jGrowl/bg-hover.png) repeat-x #3675b4;
    border-top-color: 		#3675b4;
    color: 					#fff;
    text-shadow: 			0 1px 0 rgba(0,0,0,0.5);
    box-shadow: 			inset 0 1px 0 0 rgba(255,255,255,0.3);
}

div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
}

div.jGrowl div.jGrowl-notification div.jGrowl-header {
    font-weight: 			bold;
    font-size:				.85em;
}

div.jGrowl div.jGrowl-notification div.jGrowl-close {
    z-index:				99;
    float: 					right;
    font-weight: 			bold;
    font-size: 				1em;
    cursor:					pointer;
}

div.jGrowl div.jGrowl-closer {
    padding-top: 			4px;
    padding-bottom: 		4px;
    cursor: 				pointer;
    font-size:				.9em;
    font-weight: 			bold;
    text-align: 			center;
}

div.jGrowl div.information .jGrowl-message, div.jGrowl div.success .jGrowl-message, div.jGrowl div.error .jGrowl-message, div.jGrowl div.warning .jGrowl-message, div.jGrowl div.saved .jGrowl-message {
    background: url("../media/icones/shadeless-information.png") no-repeat scroll 10px 50% #000;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-color: transparent;
    padding-left: 25px;
}

div.jGrowl div.success .jGrowl-message { background-image: url("../media/icones/shadeless-tick-circle.png"); }
div.jGrowl div.error .jGrowl-message { background-image: url("../media/icones/shadeless-cross-circle.png"); }
div.jGrowl div.information .jGrowl-message { background-image: url("../media/icones/shadeless-information.png"); }
div.jGrowl div.warning .jGrowl-message { background-image: url("../media/icones/shadeless-exclamation.png"); }
div.jGrowl div.saved .jGrowl-message { background-image: url("../media/icones/shadeless-disk-black.png"); }

/** Hide jGrowl when printing **/
@media print {
    div.jGrowl {
        display: 			none;
    }
}

/* ==================================================
 * 4) Tipsy
 * ================================================== */

.tipsy {
    font-size: 10px;
    padding: 5px;
    position: absolute;
    z-index: 100000;
}

.tipsy-inner {
    background: url("../media/tooltip-bg.png") repeat-x scroll left top black;
    border: 1px solid black;
    color: white;
    max-width: 200px;
    padding: 5px 8px 4px;
    text-align: center;
}

.tipsy-inner {
    border-radius: 3px 3px 3px 3px;
}

.tipsy-arrow {
    background: url("../media/tooltip-arrow.gif") no-repeat scroll left top transparent;
    height: 5px;
    position: absolute;
    width: 9px;
}

.tipsy-n .tipsy-arrow {
    left: 50%;
    margin-left: -4px;
    top: 0;
}

.tipsy-nw .tipsy-arrow {
    left: 10px;
    top: 0;
}

.tipsy-ne .tipsy-arrow {
    right: 10px;
    top: 0;
}

.tipsy-s .tipsy-arrow {
    background-position: left bottom;
    bottom: 0;
    left: 50%;
    margin-left: -4px;
}

.tipsy-sw .tipsy-arrow {
    background-position: left bottom;
    bottom: 0;
    left: 10px;
}

.tipsy-se .tipsy-arrow {
    background-position: left bottom;
    bottom: 0;
    right: 10px;
}

.tipsy-e .tipsy-arrow {
    background-position: right top;
    height: 9px;
    margin-top: -4px;
    right: 0;
    top: 50%;
    width: 5px;
}

.tipsy-w .tipsy-arrow {
    height: 9px;
    left: 0;
    margin-top: -4px;
    top: 50%;
    width: 5px;
}

/* ==================================================
 * 5) Fallr
 * ================================================== */

/*
* Fallr v1.0.4 - jQuery Plugin
* Simple & elegant modal box jQuery plugin
*
*/

#fallr-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: #333;
    height: 100%;
    width: 100%;
    background-color: #446d99;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#fallr-wrapper,
#fallr-wrapper * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #555;
    text-shadow: 1px 1px 1px #fff;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

#fallr-wrapper {
    position: fixed !important;
    left: 50% !important;
    margin-left: -180px;
    overflow: hidden;
    background: #f0f0f0;
    border: 1px solid #fff;
    box-shadow: 0 0 5px #111;
    -moz-box-shadow: 0 0 5px #111;
    -webkit-box-shadow: 0 0 5px #111;
}

#fallr-icon {
    position: absolute;
    top: 35px;
    left: 20px;
    height: 64px;
    width: 64px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

#fallr {
    position: relative;
    padding: 40px 20px 0px 72px;
}

#fallr-buttons {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 15px;
    clear: both;
    display: block;
    text-align: right;
}

/*  Github button style*/

#fallr-wrapper .fallr-button,
#fallr button,
#fallr input[type="submit"] {
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: 4px 15px; 
    border: 1px solid #d4d4d4; 
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff;
    white-space: nowrap; 
    cursor: pointer;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box; 
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
}

#fallr-wrapper .fallr-button:hover,
#fallr-wrapper .fallr-button:focus,
#fallr button:hover,
#fallr button:focus,
#fallr input[type="submit"]:hover,
#fallr input[type="submit"]:focus {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #3C8DDE;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

#fallr-wrapper .fallr-button.fallr-button-danger {
    color: #900;
}

#fallr-wrapper .fallr-button.fallr-button-danger:hover,
#fallr-wrapper .fallr-button.fallr-button-danger:focus {     
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff; 
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}

#fallr abbr {
    border-bottom: 1px dotted #333;
}

#fallr h1, 
#fallr h2,
#fallr h3,
#fallr h4,
#fallr h5,
#fallr h6,
#fallr p,
#fallr form,
#fallr input,
#fallr label {
    margin-bottom: 10px;
}

#fallr h3 {
    font-size: 30px;
    line-height: 45px;
}

#fallr h4 {
    font-size: 25px;
    line-height: 37px;
}

#fallr h5 {
    font-size: 20px;
    line-height: 30px;
}

#fallr input[type="text"],
#fallr input[type="password"], 
#fallr textarea {
    background: #fff;
    border: solid 1px #999;
    color: #777;
    padding: 5px;
    width: 97%;
    box-shadow: inset #bbb 0px 0px 5px;
    -moz-box-shadow: inset #bbb 0px 0px 5px;
    -webkit-box-shadow: inset #bbb 0px 0px 5px; 
}

#fallr ol li, 
#fallr ul li,
#fallr blockquote, 
#fallr q {
    margin-left: 20px;
}

#fallr table {
    border: 1px solid #ddd;
    border-collapse:collapse;
    border-spacing: 0;
    line-height: 1.35em;
    width: 100%;
}

#fallr th, 
#fallr td {
    padding: 10px;
}

#fallr th {
    background-color: #cecece;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#cecece));
    background-image: -moz-linear-gradient(#ececec, #cecece);
    background-image: -o-linear-gradient(#ececec, #cecece);
    background-image: linear-gradient(#ececec, #cecece);
}

/* custom icons */

.icon-calendar {
    background: url('../media/icones/day-calendar.png');
}

.icon-card {
    background: url('../media/icones/v-card.png');
}

.icon-check {
    background: url('../media/icones/task-complete.png');
}

.icon-config {
    background: url('../media/icones/tools.png');
}

.icon-error {
    background: url('../media/icones/acces-denied-sign.png');
}

.icon-form {
    background: url('../media/icones/fountain-pen.png');
}

.icon-help {
    background: url('../media/icones/help.png');
}

.icon-info {
    background: url('../media/icones/info---about.png');
}

.icon-lamp {
    background: url('../media/icones/light-bulb.png');
}

.icon-mail {
    background: url('../media/icones/mail.png');
}

.icon-news {
    background: url('../media/icones/rss.png');
}

.icon-photo {
    background: url('../media/icones/image-file.png');
}

.icon-save {
    background: url('../media/icones/folder.png');
}

.icon-secure {
    background: url('../media/icones/locked-2.png');
}

.icon-trash {
    background: url('../media/icones/trashcan-2.png');
}

.icon-user {
    background: url('../media/icones/users-2.png');
}

.icon-warning {
    background: url('../media/icones/alert.png');
}

.icon-wizard {
    background: url('../media/icones/cog-5.png');
}