input, textarea {
    background: #fff;
    display: block;
    margin: 10px 0;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    padding: 5px 0;
    width: 400px;
    outline: none;
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13);
    box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13);
}

.input {
    margin: 10px 0;
}

input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
    border: 1px solid #a3a3a3;
}

input:active, input:focus, textarea:active, textarea:focus  {
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13), 0px 0px 5px 0px rgba(58, 111, 163, 0.75);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13), 0px 0px 5px 0px rgba(58, 111, 163, 0.75);
    box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13), 0px 0px 5px 0px rgba(58, 111, 163, 0.75);
}

label, .label, .chzn-container {
    display: block;
    margin-bottom: 5px;
}

.chzn-container {
    margin-top: 5px;
}

input.error, textarea.error {
    box-shadow: none;
    border-radius: 5px 5px 0 0;
    border: 1px solid #870d0d;
    margin-bottom: 0;
}

label.error.red {
    position: relative;
    top: -1px;
    padding: 5px;
    margin: 0 0 10px 0;
    display: block;
    border-radius: 0 0 5px 5px;
    border: 1px solid #870d0d;
    /* The red gradient + white inset shadow*/
    background: url(../media/plugins/forms/bg-error.png) repeat-x #b13636;
}

input[type=date], input[type=datetime], input[type=time] {
    width: 150px;
    text-align: center;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=datetime]::-webkit-inner-spin-button,
input[type=datetime]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* ==================================================
 * 2) Alternative Style
 * ================================================== */

form .section {
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #fff;
    margin: 0;
    width: 100%;
    /* The gradient */
    background: rgb(246,246,246); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(241,241,241,1) 100%); /* FF3.6+ */
    background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(241,241,241,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

form .section:last-child {
    border-bottom: none;
}

form .section > label, form .section > .label {
    margin-top: 12px;
    margin-left: 10px;
    float: left;
    width: 16%;
}

form .section > div {
    border-left: 1px solid #E7E7E7;
    float: right;
    width: 75%;
    padding: 0 1%;
    padding-right: 10px;
}/* ==================================================
 * 3) Placeholders
 * ================================================== */

::-webkit-input-placeholder {
    margin-left: 5px;
}

/* ==================================================
 * 4) Fieldsets
 * ================================================== */

form fieldset {
    border: 1px solid #d2d2d2;
    border-radius: 3px 3px 3px 3px;
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

form fieldset p.inline-label, form fieldset p.inline-medium-label, form fieldset p.inline-small-label {
    padding-right: 0;
}

form fieldset legend {
    background: url(../media/plugins/forms/bg-legend.png) repeat-x scroll top left #dcdcdc;
    padding: 5px 10px;
    line-height: 16px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    border-radius: 5px 5px 5px 5px;
}

/* ==================================================
 * 5) Checkboxes
 * ================================================== */
.checkbox {
    margin-right: 10px;
    width: auto;
    box-shadow: none;
}

.checkbox img {
    height: 18px;
    width: 18px;
    background: transparent url(../media/plugins/forms/checkboxes/unchecked/normal.png) no-repeat;
}

/* Unchecked */

.checkbox-hover img {
    background: transparent url(../media/plugins/forms/checkboxes/unchecked/hover.png) no-repeat;
}

.checkbox-disabled img {
    background: transparent url(../media/plugins/forms/checkboxes/unchecked/disabled.png) no-repeat;
}

.checkbox-clicked img {
    background: transparent url(../media/plugins/forms/checkboxes/unchecked/clicked.png) no-repeat !important;
}

/* Checked */
.checkbox-checked img {
    background: transparent url(../media/plugins/forms/checkboxes/checked/normal.png) no-repeat;
} 

.checkbox-checked .checkbox-hover img {
    background: transparent url(../media/plugins/forms/checkboxes/checked/hover.png) no-repeat;
}

.checkbox-checked .checkbox-clicked img {
    background: transparent url(../media/plugins/forms/checkboxes/checked/clicked.png) no-repeat !important;
}

.checkbox-checked .checkbox-disabled img {
    background: transparent url(../media/plugins/forms/checkboxes/checked/disabled.png) no-repeat;
}

/* ==================================================
 * 6) Radio Buttons
 * ================================================== */

.radio-button {
    margin-right: 10px;
    width: auto;
    box-shadow: none;
}

.radio-button img {
    height: 18px;
    width: 18px;
    background: transparent url(../media/plugins/forms/radio-buttons/unchecked/normal.png) no-repeat;
}

/* Unchecked */
.radio-button-hover img {
    background: transparent url(../media/plugins/forms/radio-buttons/unchecked/hover.png) no-repeat;
}

.radio-button-disabled img {
    background: transparent url(../media/plugins/forms/radio-buttons/unchecked/disabled.png) no-repeat;
}

.radio-button-clicked img {
    background: transparent url(../media/plugins/forms/radio-buttons/unchecked/clicked.png) no-repeat !important;
}

/* Checked */
.radio-button-checked img {
    background: transparent url(../media/plugins/forms/radio-buttons/checked/normal.png) no-repeat;
} 

.radio-button-checked .radio-button-hover img {
    background: transparent url(../media/plugins/forms/radio-buttons/checked/hover.png) no-repeat;
}

.radio-button-checked .radio-button-clicked img {
    background: transparent url(../media/plugins/forms/radio-buttons/checked/clicked.png) no-repeat !important;
}

.radio-button-checked .radio-button-disabled img {
    background: transparent url(../media/plugins/forms/radio-buttons/checked/disabled.png) no-repeat;
}

/* ==================================================
 * 7) Form Grid
 * ================================================== */

._25 {
    width: 21%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._50 {
    width: 46%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._75 {
    width: 71%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._100 {
    width: 96%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
input, textarea, select {
    width: 100%;
}/* ==================================================
 * 8) Inline Labels
 * ================================================== */.inline-label label, .inline-label .label, .inline-medium-label label, .inline-medium-label .label, .inline-small-label label, .inline-small-label .label, .inline-mini-label label, .inline-mini-label .label {
    float: left;
    display: block;
    padding: 4px 0 0 4px;
}

p.inline-label { 
    padding-left: 200px;
}
.inline-label label, .inline-label .label {
    margin-left: -200px; 
}

p.inline-medium-label {
    padding-left: 150px;
}
.inline-medium-label label, .inline-medium-label .label { 
    margin-left: -150px; 
}

p.inline-small-label { 
    padding-left: 100px; 
}
.inline-small-label label, .inline-small-label .label { 
    margin-left: -100px; 
}

p.inline-mini-label { 
    padding-left: 70px; 
}
.inline-mini-label label, .inline-mini-label .label { 
    margin-left: -70px; 
}

/* ==================================================
 * -- External
 * ================================================== */

/* ==================================================
 * 9) MiniColors
 * ================================================== */

input[type=color] {
    display: none;
}

.opera input[type=color] {
    display: block;
}

.miniColors-trigger {
    height: 22px;
    width: 22px;
    background: url(../media/plugins/miniColors/trigger.png) center no-repeat;
    vertical-align: middle;
    margin: 10px;
    display: inline-block;
    outline: none;
}

.miniColors-selector {
    position: absolute;
    width: 175px;
    height: 150px;
    background: #FFF;
    border: solid 1px #BBB;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    z-index: 999999;
}

.miniColors-selector.black {
    background: #000;
    border-color: #000;
}

.miniColors-colors {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 150px;
    height: 150px;
    background: url(../media/plugins/miniColors/gradient.png) center no-repeat;
    cursor: crosshair;
}

.miniColors-hues {
    position: absolute;
    top: 5px;
    left: 160px;
    width: 20px;
    height: 150px;
    background: url(../media/plugins/miniColors/rainbow.png) center no-repeat;
    cursor: crosshair;
}

.miniColors-colorPicker {
    position: absolute;
    width: 11px;
    height: 11px;
    background: url(../media/plugins/miniColors/circle.gif) center no-repeat;
}

.miniColors-huePicker {
    position: absolute;
    left: -3px;
    width: 26px;
    height: 3px;
    background: url(../media/plugins/miniColors/line.gif) center no-repeat;
}

/* ==================================================
 * 10) Chosen
 * ================================================== */

/* @group Base */
.chzn-container {
    font-size: 13px;
    position: relative;
    display: block;
    zoom: 1;
    *display: inline;
}
.chzn-container .chzn-drop {
    background: #fff;
    border: 1px solid #aaa;
    border-top: 0;
    position: absolute;
    top: 29px;
    left: 0;
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
    -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
    -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
    box-shadow        : 0 4px 5px rgba(0,0,0,.15);
    z-index: 999;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius   : 4px;
    border-radius        : 4px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    border: 1px solid #aaa;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 26px;
    line-height: 26px;
    padding: 0 0 0 8px;
    color: #444;
    text-decoration: none;
}
.chzn-container-single .chzn-single span {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
    display: block;
    position: absolute;
    right: 26px;
    top: 8px;
    width: 12px;
    height: 13px;
    font-size: 1px;
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
    background-position: right -11px;
}
.chzn-container-single .chzn-single div {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius   : 0 4px 4px 0;
    border-radius        : 0 4px 4px 0;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
    background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%);
    border-left: 1px solid #aaa;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 18px;
}
.chzn-container-single .chzn-single div b {
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat 0 1px;
    display: block;
    width: 100%;
    height: 100%;
}
.chzn-container-single .chzn-search {
    padding: 3px 4px;
    position: relative;
    margin: 0;
    white-space: nowrap;
    z-index: 1010;
}
.chzn-container-single .chzn-search input {
    background: #fff url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat 100% -22px;
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    outline: 0;
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 1em;
}
.chzn-container-single .chzn-drop {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius   : 0 0 4px 4px;
    border-radius        : 0 0 4px 4px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
    position: absolute;
    left: -9000px;
}

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background-image: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background-image: -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background-image: -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    border: 1px solid #aaa;
    margin: 0;
    padding: 0;
    cursor: text;
    overflow: hidden;
    height: auto !important;
    height: 1%;
    position: relative;
}
.chzn-container-multi .chzn-choices li {
    float: left;
    list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
    color: #666;
    background: transparent !important;
    border: 0 !important;
    padding: 5px;
    margin: 1px 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow   : none;
    -o-box-shadow     : none;
    box-shadow        : none;
}
.chzn-container-multi .chzn-choices .search-field .default {
    color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
    -webkit-border-radius: 3px;
    -moz-border-radius   : 3px;
    border-radius        : 3px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e4e4e4), color-stop(0.7, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
    background-image: -moz-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
    background-image: -o-linear-gradient(bottom, #e4e4e4 0%, #eeeeee 70%);
    background-image: -ms-linear-gradient(top, #e4e4e4 0%,#eeeeee 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #e4e4e4 0%,#eeeeee 70%);
    color: #333;
    border: 1px solid #b4b4b4;
    line-height: 13px;
    padding: 3px 19px 3px 6px;
    margin: 3px 0 3px 5px;
    position: relative;
}
.chzn-container-multi .chzn-choices .search-choice span {
    cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
    background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    display: block;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
    height: 13px;
    font-size: 1px;
    background: url(chosen-sprite-adm.png) right top no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
    background-position: right -11px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
    background-position: right -11px;
}
/* @end */

/* @group Results */
.chzn-container .chzn-results {
    margin: 0 4px 4px 0;
    max-height: 190px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.chzn-container-multi .chzn-results {
    margin: -1px 0 0;
    padding: 0;
}
.chzn-container .chzn-results li {
    display: none;
    line-height: 80%;
    padding: 7px 7px 8px;
    margin: 0;
    list-style: none;
}
.chzn-container .chzn-results .active-result {
    cursor: pointer;
    display: list-item;
}
.chzn-container .chzn-results .highlighted {
    background: #3875d7;
    color: #fff;
}
.chzn-container .chzn-results li em {
    background: #feffde;
    font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
    background: transparent;
}
.chzn-container .chzn-results .no-results {
    background: #f4f4f4;
    display: list-item;
}
.chzn-container .chzn-results .group-result {
    cursor: default;
    color: #999;
    font-weight: bold;
}
.chzn-container .chzn-results .group-option {
    padding-left: 20px;
}
.chzn-container-multi .chzn-drop .result-selected {
    display: none;
}
/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
    border: 1px solid #5897fb;
}
.chzn-container-active .chzn-single-with-drop {
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow   : 0 1px 0 #fff inset;
    -o-box-shadow     : 0 1px 0 #fff inset;
    box-shadow        : 0 1px 0 #fff inset;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
    background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
    -webkit-border-bottom-left-radius : 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft : 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
}
.chzn-container-active .chzn-single-with-drop div {
    background: transparent;
    border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
    background-position: -18px 1px;
}
.chzn-container-active .chzn-choices {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
    border: 1px solid #5897fb;
}
.chzn-container-active .chzn-choices .search-field input {
    color: #111 !important;
}
/* @end */

/* @group Disabled Support */
.chzn-disabled {
    cursor: default;
    opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
    cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
    cursor: default;
}

/* @group Right to Left */
.chzn-rtl { direction:rtl;text-align: right; }
.chzn-rtl .chzn-single { padding-left: 0; padding-right: 8px; }
.chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0; }
.chzn-rtl .chzn-single div { 
    left: 0; right: auto; 
    border-left: none; border-right: 1px solid #aaaaaa;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius   : 4px 0 0 4px;
    border-radius        : 4px 0 0 4px; 
}
.chzn-rtl .chzn-choices li { float: right; }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 6px 3px 19px; margin: 3px 5px 3px 0; }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 5px; right: auto; background-position: right top;}
.chzn-rtl.chzn-container-single .chzn-results { margin-left: 4px; margin-right: 0; padding-left: 0; padding-right: 4px; }
.chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 20px; }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none; }
.chzn-rtl .chzn-search input {
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat -38px -22px, #ffffff;
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat -38px -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat -38px -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);  
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat -38px -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat -38px -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    background: url('../media/plugins/chosen/chosen-sprite-adm.png') no-repeat -38px -22px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    padding: 4px 5px 4px 20px;
}
/* @end */

/* ==================================================
 * 11) jQuery UI Timepicker
 * ================================================== */

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* ==================================================
 * 12) jQuery fileinput
 * ================================================== */

input[type=file] {
    width: auto;
}

/*custom upload elements*/
.customfile-input { position: absolute; height: 100px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 2222;  }

.customfile { background: #fff; cursor: pointer; overflow: hidden; padding: 2px; border: 1px solid #C8C8C8; -moz-border-radius:7px; -webkit-border-radius:5px; border-radius:5px;  position: relative; box-shadow: 0 2px 3px 0 rgba(18, 16, 11, 0.13) inset; }
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block; margin: 1px 1px 1px 5px; color: #C8C8C8; font-style: italic; padding: .3em .6em; margin-right: 60px; overflow: hidden; }
.customfile-feedback-populated { color: #54616A; font-style: normal; font-weight: bold; padding-left: 20px; background: url(../media/icones/blue-document.png) left 4px no-repeat; }
.customfile-button { float: right; }
.ie .customfile-button { position: absolute; right: 2px; top: 2px;}

/*file type icons*/
.customfile-ext-jpg, .customfile-ext-jpeg, .customfile-ext-gif, .customfile-ext-png, .customfile-ext-jpeg, .customfile-ext-bmp, .customfile-ext-png, .customfile-ext-tif, .customfile-ext-tiff, .customfile-ext-eps, .customfile-ext-ps, .customfile-ext-svg { background-image: url(../media/icones/blue-document-image.png);}
.customfile-ext-mp3, .customfile-ext-wav, .customfile-ext-mid, .customfile-ext-aif, .customfile-ext-mid, .customfile-ext-m4a, .customfile-ext-mpa, .customfile-ext-ra, .customfile-ext-wma { background-image: url(../media/icones/blue-document-music.png); }
.customfile-ext-mp4, .customfile-ext-mov, .customfile-ext-swf, .customfile-ext-m4v  , .customfile-ext-3g2, .customfile-ext-3gp, .customfile-ext-avi, .customfile-ext-flv, .customfile-ext-mpg, .customfile-ext-mpeg, .customfile-ext-rm, .customfile-ext-vob, .customfile-ext-wmv { background-image: url(../media/icones/blue-document-film.png); }
.customfile-ext-zip, .customfile-ext-tar, .customfile-ext-sit , .customfile-ext-7z, .customfile-ext-deb, .customfile-ext-gz, .customfile-ext-pkg, .customfile-ext-rar, .customfile-ext-rpm, .customfile-ext-sitx { background-image: url(../media/icones/blue-document-zipper.png); }

/*
 *
 * =================
 *   Lists Styling
 * =================
 *
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 *
 * 1) Stats List
 * 2) Shortcuts
 * 3) Block List
 * 4) Contact List
 * 5) Activity Stream
 * 6) Steps List
 */

/* ==================================================
 * 1) Stats List
 * ================================================== */
.stats-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.stats-list li {
    height: 41px;
    line-height: 34px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin-bottom: 5px;
    background: url(../media/plugins/stats-list/bg.png) repeat-x #f4f4f4;
}

.stats-list li:hover {
    background: url(../media/plugins/stats-list/bg-hover.png) repeat-x #fff;
}

.stats-list span {
    display: inline-block;
    float: right;
    background: url(../media/plugins/stats-list/divider.png) bottom left no-repeat;
    padding-left: 10px;
    width: 45px;
    text-align: right;
}

.stats-list a {
    display: block;
    padding: 5px 20px;
}

/* ==================================================
 * 2) Shortcuts
 * ================================================== */

.shortcuts {
    list-style: none;
    margin: 10px 0;
    margin-bottom: 0;
    padding: 0;
}

.shortcuts li {
    height: 66px;
    display: inline-table;
    border-radius: 3px;
    border: 1px solid #c1c1c1;
    background: url(../media/plugins/shortcuts/bg.png);
    margin-bottom: 10px;
    margin-right: 8px;
    overflow: hidden;
}

.shortcuts li:hover {
    background: url(../media/plugins/shortcuts/bg-hover.png);
}

.shortcut-icon {
    float: left;
    height: 25px;
    padding: 20.5px 15px;
    border-right: 1px solid #c1c1c1;
    background: url(../media/plugins/shortcuts/bg-icon.png);
    position: relative;
}

.shortcut-icon img {
    margin: 0;
    -moz-user-select: none;
}

.shortcut-icon .divider {
    position: absolute;
    right: 0;
    top: 0;
    right: 0;
    width: 17px;
    height: 66px;
    background: url(../media/plugins/shortcuts/shadow-divider.png);
}

.shortcut-description {
    padding-left: 10px;
    margin-left: 35px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
}

.shortcut-description, .shortcut-description:active, .shortcut-description:focus {
    outline: none;
}

.shortcuts strong, .shortcuts span {
    display: block;
}

/* ==================================================
 * 3) Block List
 * ================================================== */

ul.block-list {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 15px 0;
}

ul.block-list li {
    background-color: #e9e9e9;
    padding: 5px 10px;
    margin-bottom: 4px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
}

ul.block-list li:hover {
    background-color: #dfdfdf;
}

ul.block-list.with-icon li {
    background-repeat: no-repeat;
    background-position: 10px 5px;
    padding-left: 35px;
}

/* ==================================================
 * 4) Contact List
 * ================================================== */

.slider {
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
    min-height: 150px;
    display: block;
    position: relative;
    background: #fafafa;
    overflow: hidden;
}

.slider a:hover {
    text-decoration: underline;
}

.slider ul {
    list-style: none;
}

.slider-content {
    float: left;
    width: auto;
    display: block;
    overflow: auto;
    min-height: 150px;
}

.slider-content ul {
    margin-top: 0;
    margin-left: -40px;
    float: left;
    width: 100%;
    display: block;
    position: relative;
}

.slider-content ul li {
    float: left;
    width: 100%;
}

.slider-content ul ul li a {
    padding: 5px 10px;
    display: block;
    border-bottom: 1px solid #f3f3f3;
    text-transform: capitalize;
}

.slider-content ul ul li a:hover {
    background: #f3faff;
    border-color: #d5ebf9;
}

.slider-content .title {
    padding: 5px 0;
    text-indent: 10px;
    background: url("../media/plugins/contact-list/contactlist-bg.png") repeat-x scroll top left #d9d9d9;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    color: #585858;
    width: 100%;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

.slider-content .selected .title {
    background: url("../media/plugins/contact-list/contactlist-selected-bg.png") repeat-x scroll top left #d9d9d9;
    color: #fff;
    border-top: 1px solid #2d4259;
    border-bottom: 1px solid #2d4259;
}

.slider .slider-nav {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 2px;
    background: url("../media/plugins/contact-list/contactlist-nav-bg.png") repeat-x scroll top left #e1e1e1;
    min-height: 150px;
    border-left: 1px solid #bbbbbb;
}

.slider .slider-nav ul {
    padding: 5px 0;
}

.slider .slider-nav li a {
    padding: 3px 15px;
    line-height: 13px;
    text-align: center;
    color: #585858;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
}

.slider #debug {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: #000;
    color: #fff;
}

/*.slider .arrow { font-size: 0px; line-height: 0%; width: 0px; border-bottom:
 * 8px solid #fff; border-left: 5px solid #333; border-right: 5px solid #333;
 * position: relative; top: 5px; }*/
.slider .down {
    border-bottom: none;
    border-top: 8px solid #fff;
    top: 15px;
}

.slider .slide-up, .slider .slide-down {
    height: 20px;
    background: url("../media/plugins/contact-list/contactlist-bg.png") repeat-x scroll top left #d9d9d9;
    text-align: center;
    cursor: pointer;
    float: right;
    width: 100%;
    position: relative;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}

.slider .slide-down {
    border-bottom: none;
}

/* ==================================================
 * 5) Activity Stream
 * ================================================== */

.activity {
    margin: 10px;
    position: relative;
}

.activity.max-width.small .description {
    max-width: 150px;
}

.activity.max-width.medium .description {
    max-width: 300px;
}

.activity.max-width.large  .description {
    max-width: 600px;
}

.activity.fixed.small .description {
    width: 150px;
}

.activity.fixed.medium .description {
    width: 300px;
}

.activity.fixed.large .description {
    width: 600px;
}

.activity.fixed.equal {
}

.activity .avatar {
    display: inline-block;
    height: 52px;
    width: 52px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    padding: 5px;

    position: absolute;
    top: 50%;
    margin-top: -32px;

    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.33), inset 1px 1px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.33), inset 1px 1px 0px rgba(255,255,255,0.75);
    box-shadow: 1px 2px 5px rgba(0,0,0,0.33), inset 1px 1px 0px rgba(255,255,255,0.75);
}

.activity .description {
    position: relative;
    left: 72px;
    display: inline-block;
    border-radius: 3px;
    background: url(../media/plugins/activity-stream/bg-description.png) repeat-x #f3f3f3;
    border: 1px solid #b7b7b7;
    padding: 15px;
    padding-right: 30px;
}

.activity .description small {
    display: block;
}

.activity .description span {
    position: absolute;
    width: 8px;
    height: 13px;
    background: url(../media/plugins/activity-stream/arrow.png);
    display: block;
    left: -8px;
    margin-top: -6.5px;
    top: 50%;
}

.activity .toolbar {
    float: right;
    border-left: 1px solid #b7b7b7;
    background: url(../media/plugins/activity-stream/bg-toolbar.png) repeat-x #d7d7d7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    padding: 2px;

    -webkit-box-shadow: inset 1px 1px 0px #fff;
    -moz-box-shadow: inset 1px 1px 0px #fff;
    box-shadow: inset 1px 1px 0px #fff;
}

.activity .toolbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    height: 100%;
}

.activity .toolbar li {
    margin: 2px 0;
    display: table-row;
}

.activity .toolbar li  a {
    display: table-cell;
    vertical-align: middle;
}

/* ==================================================
 * 6) Steps List
 * ================================================== */

.step {
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    margin: 8px;
    margin-right: 0;
    position: relative;
    float: left;
    display: inline-block;
    background: url(../media/plugins/steps/bg-left.png) repeat-x #ededed;
    -webkit-box-shadow: 1px 1px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 1px 1px 0px rgba(255,255,255,0.75);
    box-shadow: 1px 1px 0px rgba(255,255,255,0.75);
}

.step:last-child {
    margin-right: 8px;
}

.step:active {
    background: url(../media/plugins/steps/active/bg-left.png) repeat-x #f9f9f9;
}

.step .circle {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 20px;
    width: 19px;
    height: 40px;
    background: url(../media/plugins/steps/circle.png);
    z-index: 90;
}

.step:active .circle {
    background: url(../media/plugins/steps/active/circle.png);
}

.step span {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 1px solid #c9c9c9;
    line-height: 24px;
    position: absolute;
    top: 50%;
    left: 7px;
    margin-top: -13px;
    float: left;
    z-index: 100;
}

.step a {
    padding: 20px 40px;
    margin-left: 20px;
    float: left;
    padding-left: 30px;
    background: url(../media/plugins/steps/bg-right.png) repeat-x #f8f8f8;
    border-left: 1px solid #c9c9c9;
    border-radius: 0 3px 3px 0;
}

.step:hover a {
    background: url(../media/plugins/steps/active/bg-right.png) repeat-x #fff;
}

.step strong {
    display: block;
}

/*
 * 
 * =================
 *   Table Styling
 * =================
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Generic
 * 2) Pagination Buttons
 * 3) Sort Icons
 */

/* ==================================================
 * 1) Generic
 * ================================================== */

.table {
    clear: both;
    width: 100%;
    margin: 0 auto;
}

.dataTables_wrapper .top {
    padding: 5px 10px;
    padding-top: 0;
    padding-bottom: 0px;
    background: url("../media/plugins/tables/table-head-bg.png") repeat-x scroll top left #dddddd;
    border-bottom: 1px solid #949494;
}

.dataTables_wrapper .block-actions {
    margin-top: 0;
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.dataTables_wrapper .actions {
    border: none;
    border-top: 1px solid #C8C8C8;
}

.dataTables_wrapper {
    position: relative;
    margin: 0 -10px;
    clear: both;
    zoom: 1; /* Feeling sorry for IE */
}

.dataTables_wrapper .actions {
    line-height: 25px;
}

.dataTables_length {
    float: left;
    padding-left: 100px;
}

.dataTables_length div.selector {
    width: 70px !important;
}

.dataTables_length div.selector span {
    width: 70px !important;
}

.dataTables_length label {
    margin-left: -100px;
}

.dataTables_length select {
    width: 100px;
}

.dataTables_filter {
    float: right;
    text-align: right;
    padding-left: 100px;
}

.dataTables_filter label {
    margin-left: -100px;
}

.dataTables_filter input {
    width: 150px;
}

.dataTables_info {
    float: left;
}

.dataTables_paginate {
    float: right;
}

.paging_full_numbers {

}

.dataTables_wrapper label {
    display: block;
    margin-bottom: 0;
    line-height: 33px;
}

.webkit .dataTables_wrapper label {
    display: inline;
}

.dataTables_length .chzn-container {
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.webkit .dataTables_length .chzn-container {
    width: 62px !important;
}

.webkit .dataTables_length .chzn-drop {
    width: 60px !important;
}

.dataTables_filter input {
    display: inline-block;
    float: right;
    margin: 5px 0 0 10px;
}

.dataTables_processing {
    background-color: white;
    border: 1px solid #DDDDDD;
    color: #999999;
    font-size: 14px;
    height: 30px;
    left: 50%;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 250px;
}

.table thead {
    background: url("../media/plugins/tables/table-head-bg.png") repeat-x scroll top left #dddddd;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #bcbcbc;
}

.table thead th:first-child {
    border-left: none;
}

.table thead th:last-child {
    border-right: none;
}

.table thead th {
    vertical-align: middle;
    text-align: left;
    padding: 8px 13px;
    border-left: 1px solid #fff;
    border-right: 1px solid #c3c3c3;
    cursor: pointer;
}

.table tbody th, .table tbody td, .table tfoot th, .table tfoot td {
    vertical-align: top;
    text-align: left;
    padding: 7px;
    border-left: 1px dotted #bebebe;
}

.table tbody td {
    background: #f8f8f8;
}

.table tbody th:first-child, .table tbody .th:first-child, .table tbody td:first-child, .table tfoot th:first-child, .table tfoot td:first-child {
    border-left: none;
}

.table tbody tr.even td, .table tbody tr:nth-child(2n) td {
    background: #f0f0f0;
}

.table tbody tr:hover th, .table tbody tr:hover .th, .table tbody tr:hover td {
    background: #e8eaef;
}


/* ==================================================
 * 2) Pagination Buttons
 * ================================================== */

.paginate_button, .paginate_active {
    background-color: #ebebeb;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff #b5b5b5 #b5b5b5 #ffffff;
    margin: 0;
    padding: 2px 10px;
    cursor: pointer;
}

.paginate_button_disabled {
    cursor: default;
}

.paginate_active {
    background-color: #2D5580;
    border-color: #123458;
}    

.first {
    border-radius: 3px 0 0 3px;
}

.last {
    border-radius: 0 3px 3px 0;
}

/* ==================================================
 * 3) Sort Icons
 * ================================================== */

.sorting_asc {
    background: url('../media/plugins/tables/arrow-asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('../media/plugins/tables/arrow-desc.png') no-repeat center right;
}

.sorting {
    background: url('../media/plugins/tables/arrow-both.png') no-repeat center right;
}

.sorting_asc_disabled {
    background: none;
}

.sorting_desc_disabled {
    background: none;
}