html,body
{
    font: inherit;
    font-size: 100%;
    margin: 0;
    ms-text-size-adjust: 100%;
    padding: 0;
    vertical-align: baseline;
    webkit-text-size-adjust: 100%;
}
body,.chatters-form
{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 85%;
}
.bg-linen
{
    background: #c7cbce url(../images/linen.jpg) repeat fixed;
}
.bg-wooden
{
    background: #c07d50 url(../images/wooden.jpg) repeat fixed;
}
.demo-grids div p
{
    background: #eee;
    border-radius: 3px;
    color: #666;
    font-size: 10px;
    padding: 10px 5px;
    text-align: center;
    text-transform: uppercase;
}
.chatters-form *,.chatters-form ul li
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.chatters-form ul.demo li
{
    margin-bottom: 10px;
}
.chatters-form ul.demo li:last-child
{
    margin-bottom: 10px;
}
.chatters-form input,.chatters-form button,.chatters-form select,.chatters-form select optgroup,.chatters-form textarea
{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-style: normal;
    line-height: normal;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    vertical-align: middle;
}
.chatters-form select optgroup,.chatters-form select optgroup option
{
    font-size: 1em;
    padding: 3px;
}
.chatters-form select optgroup option
{
    padding: 3px 8px;
}
.chatters-form button[disabled],.chatters-form input[disabled]
{
    cursor: default;
}
.chatters-form input[placeholder],.chatters-form textarea[placeholder]
{
    color: #999;
}
.chatters-form input::-webkit-input-placeholder
{
    opacity: .7;
}
.chatters-form input:focus::-webkit-input-placeholder
{
    opacity: .4;
    webkit-transition: opacity .3s;
}
.chatters-form input:-ms-input-placeholder
{
    opacity: .7;
}
.chatters-form input:focus:-ms-input-placeholder
{
    ms-transition: opacity .3s;
    opacity: .4;
}
.chatters-form input:-moz-placeholder,input::-moz-placeholder
{
    opacity: .7;
}
.chatters-form input:focus:-moz-placeholder,.chatters-form input:focus::-moz-placeholder
{
    moz-transition: opacity .3s;
    opacity: .4;
}
.chatters-form button::-moz-focus-inner,.chatters-form input::-moz-focus-inner
{
    border: 0;
    padding: 0;
}
.chatters-form .toggle-switch,.chatters-form .options,.chatters-form .button,.chatters-form a.button
{
    moz-user-select: none;
    ms-user-select: none;
    user-select: none;
    webkit-user-select: none;
}
.chatters-form *
{
    box-sizing: border-box;
    moz-box-sizing: border-box;
    ms-box-sizing: border-box;
    o-box-sizing: border-box;
    text-decoration: none;
    webkit-box-sizing: border-box;
}
.gforms
{
    padding: 40px 20px;
}
.chatters-form.wrapper
{
    background: #fff;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.55);
    margin: 0 auto;
    max-width: 600px;
    moz-box-shadow: 0 1px 5px rgba(0,0,0,0.55);
    position: relative;
    webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.55);
}
.chatters-form.wrapper.mini
{
    max-width: 380px;
}
.chatters-form.wrapper.wide
{
    max-width: 840px;
}
/*.chatters-form.wrapper:before,.chatters-form.wrapper:after
{
    background: #f7f7f7;
    border-bottom: 1px solid #d2d2d2;
    border-radius: 5px;
    bottom: 1px;
    content: '';
    height: 10px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 99;
}
.chatters-form.wrapper:after
{
    border-color: #dcdcdc;
    bottom: 3px;
}*/
.chatters-form .form-title
{
    background: #f7f7f7;
    border-radius: 5px 5px 0 0;
    font-weight: 300;
    padding: 15px 25px;
    padding-bottom: 23px;
    text-align: center;
    text-shadow: 0 1px rgba(255,255,255,0.75);
}
.chatters-form .form-title h2
{
    color: #999;
    font-family: "Source Sans Pro","Segoe UI Light",Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    padding: 0;
}
.chatters-form .form-enclose
{
    background: #fff;
    border-radius: 0 0 6px 6px;
}
.chatters-form .form-section
{
    padding: 30px;
    padding-bottom: 0;
}
.chatters-form section
{
    margin-bottom: 20px;
    position: relative;
}
.chatters-form label,.chatters-form p span.infox
{
    color: #888;
    font-size: 1em;
}
.chatters-form .lbl-ui
{
    display: block;
    position: relative;
}
.chatters-form .lbl-text
{
    color: #333;
    display: block;
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.chatters-form .lbl-text.required:after
{
    color: #e32;
    content: " *";
    display: inline;
    font-size: 15px;
    position: relative;
    top: 4px;
}
.chatters-form .lbl-text.ext
{
    margin-bottom: 10px;
}
.chatters-form span.lbl-text
{
    display: inline;
    display: inline-block;
    display: -moz-inline-stack;
    margin: 0;
    zoom: 1;
}
.chatters-form .lbl-text.tleft,.chatters-form .lbl-valign
{
    display: block;
    padding-top: 14px;
}
.chatters-form .lbl-valign.long
{
    padding-top: 40px;
}
.chatters-form .lbl-text.tleft.multi-line
{
    padding-top: 0;
}
.chatters-form .lbl-text.tleft.trt
{
    text-align: right;
}
.chatters-form .lbl-text.spacer
{
    margin-bottom: 15px;
}
.chatters-form .option-group .goption,.chatters-form .toggle-group .gtoggle
{
    display: inline;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 15px;
    zoom: 1;
}
.chatters-form .option-group.block .goption,.chatters-form .toggle-group.block .gtoggle
{
    display: block;
    margin-right: 0;
}
.chatters-form .goption.upt
{
    position: relative;
    top: -5px;
}
.chatters-form .option-group.last,.chatters-form .toggle-group.last
{
    border-bottom: 0;
    padding-bottom: 10px;
}
.chatters-form .form-buttons section
{
    background: rgb(245, 245, 245);
    border-radius: 0 0 6px 6px;
    margin: 0;
    padding: 20px 30px 20px 30px;
}
.chatters-form .form-buttons section
{
    margin: 0;
}
.chatters-form .append-icon,.chatters-form .append-icon.art
{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.chatters-form .append-icon span
{
    color: inherit;
    height: 36px;
    left: 0;
    line-height: 36px;
    moz-transition: all .3s ease-out;
    ms-transition: all .3s ease-out;
    o-transition: all .3s ease-out;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all .3s ease-out;
    webkit-transition: all .3s ease-out;
    width: 36px;
    z-index: 1;
}
.chatters-form .append-icon span i
{
    font-size: 14px;
    position: relative;
}
.chatters-form .append-icon.art span
{
    left: auto;
    right: 0;
}
.chatters-form .append-icon .input,.chatters-form .append-icon .textarea
{
    padding-left: 30px;
}
.chatters-form .append-icon.art .input,.chatters-form .append-icon.art .textarea
{
    padding-left: 10px;
    padding-right: 30px;
}
.chatters-form .glink
{
    color: #0093d6;
}
.chatters-form .glink.ext
{
    margin-left: 10px;
}
.chatters-form .glink:hover
{
    text-decoration: underline;
}
.chatters-form .gspace
{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
}
.chatters-form .gspace.blank
{
    border-bottom: 0;
    padding-bottom: 0;
}
.chatters-form .social-btns
{
    width: 100%;
}
.chatters-form .social-btns a
{
    background: #1daee3;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
    height: 46px;
    line-height: 46px;
    moz-border-radius: 3px;
    ms-border-radius: 3px;
    o-border-radius: 3px;
    position: relative;
    webkit-border-radius: 3px;
    width: 49%;
}
.chatters-form .social-btns a span,.chatters-form .social-btns a i
{
    display: inline-block;
    height: 46px;
    left: 0;
    line-height: 46px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 46px;
}
.chatters-form .social-btns a span
{
    padding-left: 60px;
    position: relative;
    width: auto !important;
}
.chatters-form .social-btns a i
{
    background: #1ca4d6;
    border-radius: 3px 0 0 3px;
    font-size: 22px;
    moz-border-radius: 3px 0 0 3px;
    ms-border-radius: 3px 0 0 3px;
    o-border-radius: 3px 0 0 3px;
    webkit-border-radius: 3px 0 0 3px;
}
.chatters-form .small-caption
{
    color: #999;
    display: block;
    font-size: .95em;
    padding: 3px 5px;
    padding-bottom: 0;
    text-transform: none;
}
.chatters-form .social-btns a.fbs
{
    background: #3b5998;
    margin-right: 0;
}
.chatters-form .social-btns a.fbs i
{
    background: #37528c;
}
.chatters-form .social-btns.full a
{
    margin-right: 0 !important;
    width: 100%;
}
.chatters-form .form-buttons.align-center
{
    text-align: center;
}
.chatters-form .form-buttons.align-right
{
    text-align: right;
}
.chatters-form .form-buttons .button
{
    margin-right: 10px;
    text-align: center;
}
.chatters-form .form-buttons.align-right .button
{
    margin-left: 10px;
    margin-right: 0;
}
.chatters-form .cxb
{
    display: block;
    text-align: center;
    text-transform: uppercase;
}
.chatters-form .tagline
{
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.chatters-form .tagline span
{
    background: #fff;
    color: #666;
    display: inline;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    position: relative;
    top: 10px;
    zoom: 1;
}
.chatters-form form fieldset
{
    border: 1px solid #ddd;
    border-width: 1px 0 0 0;
    padding-top: 20px;
}
.chatters-form form fieldset legend
{
    background: #fff;
    color: #0093d6;
    display: inline;
    display: inline-block;
    font-family: "Source Sans Pro","Segoe UI Light",Helvetica,Arial,sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    margin-left: -20px;
    margin-top: 0;
    padding: 0 5px;
    position: relative;
    top: -5px;
    zoom: 1;
}
.row:before,.row:after
{
    content: '';
    display: table;
}
.row:after
{
    clear: both;
}
.row
{
    zoom: 1;
}
.row
{
    margin: 0 auto;
    width: 100%;
}
.col1
{
    width: 8.33%;
}
.col2
{
    width: 16.66%;
}
.col3
{
    width: 25%;
}
.col4
{
    width: 33.33%;
}
.col5
{
    width: 41.66%;
}
.col6
{
    width: 50%;
}
.col7
{
    width: 58.33%;
}
.col8
{
    width: 66.66%;
}
.col9
{
    width: 75%;
}
.col10
{
    width: 83.33%;
}
.col11
{
    width: 91.66%;
}
.col12
{
    float: left;
    min-height: 1px;
    position: relative;
    width: 100%;
}
.col1-5
{
    width: 20%;
}
.col1-8
{
    width: 12.5%;
}
.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col1-5,.col1-8
{
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.col1.first,.col2.first,.col3.first,.col4.first,.col5.first,.col6.first,.col7.first,.col8.first,.col9.first,.col10.first,.col11.first,.col1-5.first,.col1-8.first
{
    padding-left: 0;
    position: relative;
}
.col1.last,.col2.last,.col3.last,.col4.last,.col5.last,.col6.last,.col7.last,.col8.last,.col9.last,.col10.last,.col11.last,.col1-5.last,.col1-8.last
{
    padding-right: 0;
    position: relative;
}
.demo-header
{
    color: #666;
    font-family: "Source Sans Pro","Segoe UI Light",Helvetica,Arial,sans-serif;
    font-weight: 400;
}
.demo-header span
{
    color: #399;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
}
.demo-header2
{
    color: #4E9BDF;
    font-size: 24px;
    font-weight: 300;
}
.ddx
{
    font-family: "Source Sans Pro","Segoe UI Light",Helvetica,Arial,sans-serif;
}
.ddx p
{
    color: #555;
    font-size: 15px;
    line-height: 24px;
    padding-top: 15px;
}
.spacers
{
    display: block;
    padding-top: 15px;
}
.ftx
{
    margin-bottom: 16px;
    position: relative;
    text-align: center;
}
.ftx span
{
    background: #fff;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    z-index: 15;
}
.ftx:before
{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #d3d3d3;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 20px;
    width: 40%;
    z-index: 10;
}
.ftx:after
{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #d3d3d3;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 20px;
    width: 40%;
    z-index: 10;
}
#demo-menu
{
    background: #000;
    background: rgba(0,0,0,0.9);
    border-radius: 0 5px 5px 0;
    color: white;
    left: 0;
    list-style: none;
    margin: 0;
    moz-border-radius: 0 5px 5px 0;
    padding: 0;
    position: fixed;
    text-align: left;
    text-decoration: none;
    top: 6%;
    webkit-border-radius: 0 5px 5px 0;
    width: 180px;
    z-index: 30;
    z-index: 5;
}
#demo-menu:after
{
    border-bottom: 10px solid transparent;
    border-left: 10px solid #333;
    border-left: 10px solid rgba(0,0,0,0.9);
    border-top: 10px solid transparent;
    content: '';
    left: 100%;
    position: absolute;
    top: 15px;
}
#demo-menu li
{
    margin: 0;
}
#demo-menu a
{
    color: #fff;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}
#demo-menu a i
{
    margin-right: 8px;
}
#demo-menu a.last
{
    border-radius: 0 0 5px 0;
    moz-border-radius: 0 0 5px 0;
    webkit-border-radius: 0 0 5px 0;
}
#demo-menu a:hover,#demo-menu a.activo
{
    background: #0c9;
}
#demo-menu h3
{
    color: #0c9;
    font-family: "Source Sans Pro","Segoe UI Light",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 0 10px;
    text-transform: uppercase;
}
label.mobile-menu span
{
    color: white;
    display: none;
    margin-left: 10px;
}
#mobile-menu
{
    left: -9999px;
    opacity: 0;
    position: absolute;
    top: auto;
}
.ddx article
{
    font-size: .9rem;
    margin-bottom: 1.3em;
}
.ddx article i
{
    color: #0c9;
    float: left;
    font-size: 2.6em;
    vertical-align: middle !important;
}
.ddx article h3
{
    color: #4E9BDF !important;
    font-size: 24px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 15px;
    position: relative;
    top: 8px;
}
.ddx article h3,.ddx article p
{
    margin-left: 40px;
    vertical-align: middle;
}
.ddx article a
{
    color: #0c9;
    font-weight: 700;
}
.chatters-form .input,.chatters-form .valid,.chatters-form .rating,.chatters-form .select,.chatters-form .button,.chatters-form .invalid,.chatters-form .options,.chatters-form .textarea,.chatters-form .info-tip,.chatters-form .file-input,.chatters-form .notification,.chatters-form .toggle-switch,.chatters-form .select-multiple,.chatters-form .select-multiple>select
{
    display: inline;
    display: inline-block;
    display: -moz-inline-stack;
    position: relative;
    zoom: 1;
}
.chatters-form .input,.chatters-form .valid,.chatters-form .select,.chatters-form .invalid,.chatters-form .textarea,.chatters-form .file-input,.chatters-form .notification,.chatters-form .select-multiple>select
{
    vertical-align: top;
    width: 100%;
}
.chatters-form .input,.chatters-form .textarea
{
    background: #fff;
    border: 1px solid;
    border-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    color: #333;
    height: 36px;
    moz-border-radius: 3px;
    moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    moz-transition: all .5s ease-in-out;
    ms-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    ms-transition: all .5s ease-in-out;
    o-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    o-transition: all .5s ease-in-out;
    padding: 0 10px;
    transition: all .5s ease-in-out;
    webkit-border-radius: 3px;
    webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    webkit-transition: all .5s ease-in-out;
}
.chatters-form .input:focus,.chatters-form .textarea:focus,.chatters-form .select-multiple>select:focus
{
    border-color: #6baced;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(82,168,236,.7);
    moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(82,168,236,.7);
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(82,168,236,.7);
}
.chatters-form .textarea
{
    line-height: 20px;
    max-width: 100%;
    min-height: 140px;
    overflow: auto;
    padding: 10px;
    resize: vertical;
}
.chatters-form .textarea.mini
{
    min-height: 110px;
}
.chatters-form .textarea.auto
{
    height: auto !important;
}
.chatters-form .textarea.no-resize
{
    resize: none;
}
.chatters-form .invalid>.input,.chatters-form .invalid>.textarea
{
    background: #faebeb;
    border: 1px solid #db6c6c;
    color: #8f2424;
}
.chatters-form .valid>.input,.chatters-form .valid>.textarea
{
    background: #ebf7fc;
    border: 1px solid #3ea9df;
    color: #1a719d;
}
.chatters-form .valid>.input:focus,.chatters-form .invalid>.input:focus
{
    position: relative;
    z-index: 2;
}
.chatters-form .valid:before,.chatters-form .search:after,.chatters-form .invalid:after,.chatters-form .search:before,.chatters-form .invalid:before,.chatters-form .select:before,.chatters-form .select:after
{
    content: '';
    position: absolute;
    z-index: 1;
}
.chatters-form .valid:before
{
    border: solid #069;
    border-width: 0 0 3px 3px;
    height: 4px;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    right: 12px;
    top: 13px;
    transform: rotate(-45deg);
    webkit-transform: rotate(-45deg);
    width: 10px;
}
.chatters-form .invalid:before,.chatters-form .invalid:after
{
    background: #c06;
    height: 12px;
    moz-transform: rotate(45deg);
    ms-transform: rotate(45deg);
    o-transform: rotate(45deg);
    right: 16px;
    top: 13px;
    transform: rotate(45deg);
    webkit-transform: rotate(45deg);
    width: 3px;
}
.chatters-form .invalid:after
{
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    webkit-transform: rotate(-45deg);
}
.chatters-form .valid.success>.input,.chatters-form .invalid.error>.input
{
    text-shadow: 0 1px rgba(255,255,255,0.7);
}
.chatters-form .valid.success>.input
{
    background: #e2fbca;
    border-color: #92c058;
    color: #435c26;
}
.chatters-form .valid.success>.input:focus
{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(121,185,0,.7);
    moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(121,185,0,.7);
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(121,185,0,.7);
}
.chatters-form .invalid>.input:focus
{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(228,70,52,.7);
    moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(228,70,52,0,.7);
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(228,70,52,0,.7);
}
.chatters-form .invalid.error>.input
{
    background: #fcdacd;
    border-color: #e44634;
    color: maroon;
}
.chatters-form .valid.success:before
{
    border-color: #4f8e28;
}
.chatters-form .invalid.error:before,.chatters-form .invalid.error:after
{
    background: #ad3925;
}
.chatters-form input[type=search]
{
    webkit-appearance: textfield;
}
.chatters-form input[type="search"]::-webkit-search-decoration,.chatters-form input[type="search"]::-webkit-search-cancel-button
{
    webkit-appearance: none;
}
.chatters-form .search
{
    display: inline-block;
    position: relative;
    width: 100%;
}
.chatters-form .search>.input
{
    padding: 0 13px 0 30px;
    width: 100%;
}
.chatters-form .search:before
{
    border: 2px solid #aaa;
    border-radius: 8px;
    height: 6px;
    left: 10px;
    top: 13px;
    width: 6px;
}
.chatters-form .search:after
{
    background: #aaa;
    border-radius: 1px;
    box-shadow: -1px 0 #aaa;
    height: 2px;
    left: 17px;
    moz-transform: rotate(45deg);
    ms-transform: rotate(45deg);
    o-transform: rotate(45deg);
    top: 22px;
    transform: rotate(45deg);
    webkit-box-shadow: -1px 0 #aaa;
    webkit-transform: rotate(45deg);
    width: 6px;
}
.chatters-form .search .button
{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow: none;
    moz-border-radius-bottomleft: 0;
    moz-border-radius-topleft: 0;
    position: absolute;
    right: 0;
    top: 0;
    webkit-border-bottom-left-radius: 0;
    webkit-border-top-left-radius: 0;
}
.chatters-form .search.grey input[type="search"]
{
    background: #f2f2f2;
}
.chatters-form .search.round>.input,.chatters-form .search.round>.button
{
    border-radius: 5em;
}
.chatters-form .search.round>.button
{
    border-radius: 0 5em 5em 0;
}
.chatters-form .select,.chatters-form .button,.chatters-form a.button,.chatters-form input:checked+.radio,.chatters-form input:checked+.checkbox,.chatters-form .toggle-switch>label:before,.chatters-form .bubble
{
    background-clip: padding-box;
    background-color: #fafafa;
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    border: 1px solid #bbb;
    moz-background-clip: padding-box;
    webkit-background-clip: padding-box;
}
.chatters-form .select:hover,.chatters-form .select:focus,.chatters-form .button:hover,.chatters-form .button:focus,.chatters-form a.button:hover,.chatters-form a.button:focus
{
    background-color: #e8eff4;
    background-image: linear-gradient(to bottom,#fff,#dae5ed);
    background-image: -moz-linear-gradient(#fff,#dae5ed);
    background-image: -o-linear-gradient(#fff,#dae5ed);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#dae5ed));
    background-image: -webkit-linear-gradient(#fff,#dae5ed);
    border: 1px solid #8fafc9;
}
.chatters-form .select:hover,.chatters-form .select:focus
{
    background-color: #fff;
}
.chatters-form .select
{
    border-radius: 3px;
    box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.1);
    height: 36px;
    moz-border-radius: 3px;
    moz-box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.1);
    overflow: hidden;
    text-shadow: 0 1px rgba(255,255,255,0.7);
    webkit-border-radius: 3px;
    webkit-box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.1);
}
.chatters-form .select>select
{
    appearance: normal;
    background: transparent;
    border: 0;
    color: #666;
    display: block;
    height: 33px;
    margin: 0;
    moz-appearance: none;
    padding: 8px;
    position: relative;
    text-indent: .01px;
    text-overflow: '';
    text-shadow: 0 1px white;
    webkit-appearance: none;
    width: 130%;
}
.chatters-form .select>select::-ms-expand
{
    display: none;
}
.chatters-form .select>select>option
{
    padding: 3px 5px;
}
.chatters-form .select>select:focus
{
    box-shadow: inset 0 0 4px #51b5fb,0 0 4px #51b5fb;
    moz-box-shadow: inset 0 0 4px #51b5fb,0 0 4px #51b5fb;
    webkit-box-shadow: inset 0 0 4px #51b5fb,0 0 4px #51b5fb;
    width: 100%;
    z-index: 2;
}
.chatters-form .select:hover,.chatters-form .select:focus
{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2),inset 0 0 3px #fff;
    color: #314f64;
    moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2),inset 0 0 3px #fff;
    webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2),inset 0 0 3px #fff;
    z-index: 1;
}
.chatters-form .select option
{
    text-shadow: none;
}
.chatters-form .select:before,.chatters-form .select:after
{
    border: 4px dashed;
    border-color: #777 transparent;
    height: 0;
    pointer-events: none;
    right: 10px;
    top: 35%;
    width: 0;
}
.chatters-form .select:before
{
    border-bottom-style: solid;
    border-top: 0;
}
.chatters-form .select:after
{
    border-bottom: 0;
    border-top-style: solid;
    margin-top: 6px;
}
.chatters-form .select-multiple
{
    border-radius: 3px;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
}
.chatters-form .select-multiple
{
    width: 100%;
}
.chatters-form .select-multiple
{
    height: auto;
}
.chatters-form .select-multiple>select
{
    border: 1px solid;
    border-color: #d4d4d4 #d4d4d4 #cfcfcf;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    moz-border-radius: 2px;
    moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    moz-transition: all .5s ease-in-out;
    ms-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    padding: 10px;
    transition: all .5s ease-in-out;
    vertical-align: top;
    webkit-border-radius: 2px;
    webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    webkit-transition: all .5s ease-in-out;
}
.chatters-form .options
{
    height: 18px;
    top: -1px;
    vertical-align: top;
    width: 18px;
}
.chatters-form .options+label
{
    padding-left: 4px;
    padding-right: 10px;
}
.chatters-form .options>input
{
    height: inherit;
    left: 0;
    opacity: 0;
    position: absolute;
    width: inherit;
}
.chatters-form .radio,.chatters-form .checkbox
{
    background: #fff;
    border: 1px solid;
    border-color: #bbb;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.7);
    display: block;
    height: 100%;
    moz-border-radius: 2px;
    moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.7);
    webkit-border-radius: 2px;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.7);
}
.chatters-form .checkbox:before,.chatters-form .radio:before
{
    content: '';
    display: none;
}
.chatters-form input:checked+.checkbox,.chatters-form input:checked+.radio
{
    box-shadow: inset 0 1px #fbfbfb,0 1px 1px rgba(0,0,0,0.05);
    moz-box-shadow: inset 0 1px #fbfbfb,0 1px 1px rgba(0,0,0,0.05);
    webkit-box-shadow: inset 0 1px #fbfbfb,0 1px 1px rgba(0,0,0,0.05);
}
.chatters-form input:checked+.checkbox:before,.chatters-form input:checked+.radio:before
{
    display: block;
}
.chatters-form input:focus+.checkbox,.chatters-form input:focus+.radio
{
    border-color: #4496e7;
    box-shadow: inset 0 0 2px rgba(81,181,251,0.8),0 0 3px rgba(81,181,251,0.8);
    moz-box-shadow: inset 0 0 2px rgba(81,181,251,0.8),0 0 3px rgba(81,181,251,0.8);
    webkit-box-shadow: inset 0 0 2px rgba(81,181,251,0.8),0 0 3px rgba(81,181,251,0.8);
}
.chatters-form .checkbox:before
{
    border: solid #999;
    border-width: 0 0 3px 3px;
    height: 3px;
    left: 4px;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    webkit-transform: rotate(-45deg);
    width: 7px;
}
.chatters-form .radio
{
    border-radius: 18px;
}
.chatters-form .radio:before
{
    background: #999;
    border-radius: 3px;
    box-shadow: inset 0 1px rgba(0,0,0,0.1);
    height: 6px;
    margin: 5px;
    webkit-box-shadow: inset 0 1px rgba(0,0,0,0.1);
    width: 6px;
}
.chatters-form .toggle-switch
{
    top: -2px;
    vertical-align: top;
    width: 48px;
}
.chatters-form .toggle-switch>label
{
    background: #fff;
    border: 1px solid #BBB;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1),inset 0 9px #eee;
    color: #999;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
    moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1),inset 0 9px #eee;
    moz-transition: all .25s ease-out;
    o-transition: all .25s ease-out;
    position: relative;
    text-align: center;
    text-shadow: 0 1px #fff;
    text-transform: uppercase;
    transition: all .25s ease-out;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1),inset 0 9px #eee;
    webkit-transition: all .25s ease-out;
}
.chatters-form .toggle-switch>label:before
{
    background-clip: padding-box;
    border-radius: 2px;
    box-shadow: inset 0 1px rgba(255,255,255,0.7),1px 1px 1px rgba(0,0,0,0.05);
    content: '';
    display: block;
    height: 18px;
    margin: -1px 0 0 -1px;
    moz-box-shadow: inset 0 1px rgba(255,255,255,0.7),1px 1px 1px rgba(0,0,0,0.05);
    webkit-box-shadow: inset 0 1px rgba(255,255,255,0.7),1px 1px 1px rgba(0,0,0,0.05);
    width: 18px;
}
.chatters-form .toggle-switch>label:after
{
    content: attr(data-off);
    position: absolute;
    right: 0;
    top: 0;
    width: 26px;
}
.chatters-form .toggle-switch>input
{
    appearance: normal;
    height: 16px;
    left: 2px;
    moz-appearance: none;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 2px;
    webkit-appearance: none;
    width: 44px;
    z-index: 0;
}
.chatters-form .toggle-switch>input:checked+label
{
    background: #e8e8e8;
    background-image: linear-gradient(to bottom,#e2e2e2,#fff);
    background-image: -moz-linear-gradient(top,#e2e2e2,#fff);
    background-image: -o-linear-gradient(top,#e2e2e2,#fff);
    background-image: -webkit-linear-gradient(top,#e2e2e2,#fff);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.2);
    color: #999;
    moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.2);
    padding-left: 28px;
    text-shadow: 0 1px #fff;
    webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.2);
}
.chatters-form .toggle-switch>input:checked+label:before
{
    border-color: rgba(119,119,119,0.4);
    border-left-color: rgba(51,51,51,0.4);
    box-shadow: inset 0 1px #fcfcfc,-1px 1px 1px rgba(0,0,0,0.06);
    webkit-box-shadow: inset 0 1px #fcfcfc,-1px 1px 1px rgba(0,0,0,0.06);
}
.chatters-form .toggle-switch>label:after
{
    content: attr(data-off);
    position: absolute;
    right: 2px;
    top: 0;
    width: 26px;
}
.chatters-form .toggle-switch>input:checked+label:after
{
    content: attr(data-on);
    left: 0;
}
.chatters-form .round>label,.chatters-form .round>label:before
{
    border-radius: 18px;
}
.chatters-form .round>input:checked+label:after
{
    left: 2px;
}
.chatters-form .round>label:before
{
    color: #e4e4e4;
    content: "\2022";
    font: 34px/17px Arial,Helvetica,sans-serif !important;
}
.chatters-form .toggle-switch.blue>input:checked+label,.chatters-form .toggle-switch.green>input:checked+label,.chatters-form .toggle-switch.red>input:checked+label
{
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px rgba(255,255,255,0.1);
    color: #fff;
    moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px rgba(255,255,255,0.1);
    text-shadow: 0 -1px rgba(0,0,0,0.2);
    webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px rgba(255,255,255,0.1);
}
.chatters-form .toggle-switch.blue>input:checked+label
{
    background-color: #3c93f2;
    background-image: linear-gradient(to bottom,#4e9bdf,#3e7cb3);
    background-image: -moz-linear-gradient(top,#4e9bdf,#3e7cb3);
    background-image: -o-linear-gradient(top,#4e9bdf,#3e7cb3);
    background-image: -webkit-linear-gradient(top,#4e9bdf,#3e7cb3);
    border-color: #3e7cb3;
}
.chatters-form .toggle-switch.blue>input:checked+label:before
{
    border-color: #3e7cb3 !important;
    text-shadow: 0 1px #fff;
}
.chatters-form .toggle-switch.green>input:checked+label
{
    background-color: #86c140;
    background-image: linear-gradient(to bottom,#71b533,#a7d757);
    background-image: -moz-linear-gradient(top,#71b533,#a7d757);
    background-image: -o-linear-gradient(top,#71b533,#a7d757);
    background-image: -webkit-linear-gradient(top,#71b533,#a7d757);
    border-color: #3e7cb3;
}
.chatters-form .toggle-switch.green>input:checked+label:before
{
    border-color: #75a143 !important;
    text-shadow: 0 1px #fff;
}
.chatters-form .toggle-switch.red>input:checked+label
{
    background-color: #de472f;
    background-image: linear-gradient(to bottom,#d00,#f96);
    background-image: -moz-linear-gradient(top,#d00,#f96);
    background-image: -o-linear-gradient(top,#d00,#f96);
    background-image: -webkit-linear-gradient(top,#d00,#f96);
    border-color: #a60000 #c10000 #e14a42;
}
.chatters-form .toggle-switch.red>input:checked+label:before
{
    border-color: #de472f !important;
    text-shadow: 0 1px #fff;
}
.chatters-form .file-input
{
    margin: 0;
}
.chatters-form .file-input .button
{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow: none;
    float: right;
    height: 36px;
    line-height: 35px;
    margin: 0;
    moz-border-radius-bottomleft: 0;
    moz-border-radius-topleft: 0;
    padding: 0 16px;
    position: absolute;
    right: 0;
    top: 0;
    webkit-border-bottom-left-radius: 0;
    webkit-border-top-left-radius: 0;
    z-index: 2;
}
.chatters-form .file-input .button:hover
{
    box-shadow: none;
}
.chatters-form .file-input .button:active
{
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1);
    moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1);
    webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1);
}
.chatters-form .file-input .button input
{
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 30px;
    height: 35px;
    moz-opacity: 0;
    ms-filter: 'alpha(opacity=0)';
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -1px;
    z-index: 3;
}
.chatters-form .rating
{
    overflow: hidden;
}
.chatters-form .rating.block
{
    display: block;
    margin-top: 5px;
}
.chatters-form .rating label
{
    color: #d0d0d0;
}
.chatters-form .rating label i
{
    color: inherit;
    font-size: 17px;
    text-align: center;
}
.chatters-form .rating-star
{
    margin-left: 4px;
}
.chatters-form .rating-input
{
    left: -9999px;
    position: absolute;
    top: auto;
}
.chatters-form .rating:hover .rating-star:hover,.chatters-form .rating:hover .rating-star:hover ~ .rating-star,.chatters-form .rating-input:checked ~ .rating-star
{
    color: #ffb400;
}
.chatters-form .rating-star,.chatters-form .rating:hover .rating-star
{
    color: #d0d0d0;
    cursor: pointer;
    display: block;
    float: right;
    height: 18px;
    width: 18px;
}
.chatters-form .button i
{
    font-size: 14px;
}
.chatters-form .button,.chatters-form a.button
{
    background-clip: padding-box;
    border-radius: 3px;
    box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.1);
    color: #4b5151;
    cursor: pointer;
    font-size: 13px;
    height: 36px;
    line-height: 1;
    moz-background-clip: padding;
    moz-border-radius: 3px;
    moz-box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.1);
    outline: 0;
    overflow: visible;
    padding: 0 15px;
    text-align: center;
    text-shadow: 0 1px rgba(255,255,255,0.7);
    vertical-align: top;
    webkit-appearance: none;
    webkit-background-clip: padding;
    webkit-border-radius: 3px;
    webkit-box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.1);
    webkit-touch-callout: none;
    width: auto;
}
.chatters-form a.button
{
    line-height: 36px;
    text-decoration: none;
}
.chatters-form .button:hover,.chatters-form .button:focus,.chatters-form a.button:hover,.chatters-form a.button:focus
{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2),inset 0 0 3px #fff;
    color: #314f64;
    moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2),inset 0 0 3px #fff;
    webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2),inset 0 0 3px #fff;
}
.chatters-form .button:active,.chatters-form .button.active,.chatters-form a.button:active,.chatters-form a.button.active,.chatters-form .button.next-btn:active,.chatters-form .button.prev-btn:active
{
    background-color: #e8e8e8;
    background-image: linear-gradient(to bottom,#e8e8e8,#fff);
    background-image: -moz-linear-gradient(top,#e8e8e8,#fff);
    background-image: -o-linear-gradient(top,#e8e8e8,#fff);
    background-image: -webkit-linear-gradient(top,#e8e8e8,#fff);
    border-color: #bfbfbf #bfbfbf #d6d6d6;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1);
    moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1);
    webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1);
}
.chatters-form .button.blue,.chatters-form .button.blue:hover,.chatters-form .button.green,.chatters-form .button.green:hover,.chatters-form .button.red,.chatters-form .button.red:hover,.chatters-form .button.black,.chatters-form .button.black:hover
{
    box-shadow: inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
    color: #fff;
    moz-box-shadow: inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
    text-shadow: 0 -1px rgba(0,0,0,0.15);
    webkit-box-shadow: inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
}
.chatters-form .button.blue:hover,.chatters-form .button.blue:focus,.chatters-form .button.blue:active,.chatters-form .button.green:hover,.chatters-form .button.green:focus,.chatters-form .button.green:active,.chatters-form .button.red:hover,.chatters-form .button.red:focus,.chatters-form .button.red:active,.chatters-form .button.black:hover,.chatters-form .button.black:focus,.chatters-form .button.black:active
{
    color: #fff;
}
.chatters-form .button.blue:active,.chatters-form .button.green:active,.chatters-form .button.red:active,.chatters-form .button.black:active
{
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px rgba(255,255,255,0.1);
    moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px rgba(255,255,255,0.1);
    webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2),0 1px rgba(255,255,255,0.1);
}
.chatters-form .button.blue,.chatters-form .bubble.blue
{
    background-color: #208ed3;
    background-image: linear-gradient(to bottom,#4baadc,#074dda);
    background-image: -moz-linear-gradient(top,#4baadc,#074dda);
    background-image: -ms-linear-gradient(top,#4baadc,#074dda);
    background-image: -o-linear-gradient(top,#4baadc,#074dda);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4baadc),color-stop(100%,#074dda));
    background-image: -webkit-linear-gradient(top,#4baadc,#074dda);
    border-color: #1f58cc #1b4db3 #1b4db3;
}
.chatters-form .button.blue:hover,.chatters-form .button.blue:focus
{
    background-color: #1e55c8;
    background-image: linear-gradient(to bottom,#2160de,#1e55c8);
    background-image: -moz-linear-gradient(top,#2160de,#1e55c8);
    background-image: -ms-linear-gradient(top,#2160de,#1e55c8);
    background-image: -o-linear-gradient(top,#2160de,#1e55c8);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#2160de),color-stop(100%,#1e55c8));
    background-image: -webkit-linear-gradient(top,#2160de,#1e55c8);
    border-color: #174299 #174299 #174299;
}
.chatters-form .button.blue:active
{
    background-color: #0d4dc1;
    background-image: linear-gradient(to bottom,#0d4dc1,#48a4ff);
    background-image: -moz-linear-gradient(top,#0d4dc1,#48a4ff);
    background-image: -o-linear-gradient(top,#0d4dc1,#48a4ff);
    background-image: -webkit-linear-gradient(top,#0d4dc1,#48a4ff);
    border-color: #0f3779 #0d4dc1 #0f58e1;
}
.chatters-form .button.green,.chatters-form .bubble.green
{
    background-color: #7fbf4d;
    background-image: linear-gradient(to bottom,#a1d254,#63a62f);
    background-image: -moz-linear-gradient(top,#a1d254,#63a62f);
    background-image: -ms-linear-gradient(top,#a1d254,#63a62f);
    background-image: -o-linear-gradient(top,#a1d254,#63a62f);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#a1d254),color-stop(100%,#63a62f));
    background-image: -webkit-linear-gradient(top,#a1d254,#63a62f);
    border: 1px solid #457621;
    border-top: 1px solid #5b992b;
    text-shadow: 0 -1px 0 #4c9021;
}
.chatters-form .button.green:hover,.chatters-form .button.green:focus
{
    background-color: #76b347;
    background-image: linear-gradient(to bottom,#76b347,#5e9e2e);
    background-image: -moz-linear-gradient(top,#76b347,#5e9e2e);
    background-image: -ms-linear-gradient(top,#76b347,#5e9e2e);
    background-image: -o-linear-gradient(top,#76b347,#5e9e2e);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#76b347),color-stop(100%,#5e9e2e));
    background-image: -webkit-linear-gradient(top,#76b347,#5e9e2e);
    border: 1px solid #457621;
    border-top: 1px solid #5b992b;
}
.chatters-form .button.green:active
{
    background-color: #548e28;
    background-image: linear-gradient(to bottom,#71b533,#a7d757);
    background-image: -moz-linear-gradient(top,#71b533,#a7d757);
    background-image: -o-linear-gradient(top,#71b533,#a7d757);
    background-image: -webkit-linear-gradient(top,#71b533,#a7d757);
    border-color: #678f3a #75a143 #81b049;
}
.chatters-form .button.red,.chatters-form .bubble.red
{
    background-color: #cf3025;
    background-image: linear-gradient(to bottom,#fc4138,#cf3025);
    background-image: -moz-linear-gradient(top,#fc4138,#cf3025);
    background-image: -o-linear-gradient(top,#fc4138,#cf3025);
    background-image: -webkit-linear-gradient(top,#fc4138,#cf3025);
    border-color: #be1814 #ac1612 #ac1612;
}
.chatters-form .button.red:hover,.chatters-form .button.red:focus
{
    background-color: #bc2d21;
    background-image: linear-gradient(to bottom,#f81003,#bc2d21);
    background-image: -moz-linear-gradient(top,#f81003,#bc2d21);
    background-image: -o-linear-gradient(top,#f81003,#bc2d21);
    background-image: -webkit-linear-gradient(top,#f81003,#bc2d21);
    border-color: #be1814 #ac1612 #ac1612;
}
.chatters-form .button.red:active
{
    background-color: #a60000;
    background-image: linear-gradient(to bottom,#d00,#f96);
    background-image: -moz-linear-gradient(top,#d00,#f96);
    background-image: -o-linear-gradient(top,#d00,#f96);
    background-image: -webkit-linear-gradient(top,#d00,#f96);
    border-color: #a60000 #c10000 #e14a42;
}
.chatters-form .button.black,.chatters-form .bubble.black
{
    background-color: #333;
    background-image: linear-gradient(to bottom,#4f4f4f,#181818);
    background-image: -moz-linear-gradient(top,#4f4f4f,#181818);
    background-image: -o-linear-gradient(top,#4f4f4f,#181818);
    background-image: -webkit-linear-gradient(top,#4f4f4f,#181818);
    border-color: #3e3e3e #222 #030303;
    box-shadow: inset 0 1px rgba(255,255,255,0.03),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
    moz-box-shadow: inset 0 1px rgba(255,255,255,0.03),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
    webkit-box-shadow: inset 0 1px rgba(255,255,255,0.03),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
}
.chatters-form .button.black:hover,.chatters-form .button.black:focus
{
    background-color: #111;
    background-image: linear-gradient(to bottom,#333,#111);
    background-image: -moz-linear-gradient(top,#333,#111);
    background-image: -o-linear-gradient(top,#333,#111);
    background-image: -webkit-linear-gradient(top,#333,#111);
    border: 1px solid #2c2b2b;
}
.chatters-form .button.black:active
{
    background-color: #070707;
    background-image: linear-gradient(to bottom,#070707,#444);
    background-image: -moz-linear-gradient(top,#070707,#444);
    background-image: -o-linear-gradient(top,#070707,#444);
    background-image: -webkit-linear-gradient(top,#070707,#444);
    border: 1px solid #2c2b2b;
}
.chatters-form .notification
{
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1),0 1px rgba(255,255,255,0.4) inset;
    color: #444;
    moz-border-radius: 3px;
    moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1),0 1px rgba(255,255,255,0.4) inset;
    padding: 12px;
    text-shadow: 0 1px rgba(255,255,255,0.5);
    webkit-border-radius: 3px;
    webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1),0 1px rgba(255,255,255,0.4) inset;
}
.chatters-form .notification p
{
    line-height: normal;
    margin: 0;
    padding: 0 10px;
}
.chatters-form .notification a.close
{
    color: inherit;
    display: block;
    font: bold 20px/20px Arial,sans-serif;
    margin-top: -7px;
    opacity: .65;
    padding: inherit;
    position: absolute;
    right: 2px;
    top: 14%;
}
.chatters-form .notification a.close:hover
{
    opacity: 1;
}
.chatters-form .notification.info
{
    background-color: #cfe6fc;
    background-image: linear-gradient(to bottom,#e7f2fe,#c7e1fc);
    background-image: -moz-linear-gradient(top,#e7f2fe,#c7e1fc);
    background-image: -o-linear-gradient(top,#e7f2fe,#c7e1fc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e7f2fe),color-stop(100%,#c7e1fc));
    background-image: -webkit-linear-gradient(top,#e7f2fe,#c7e1fc);
    border-color: #a4c8f5 #96c0f3 #96c0f3;
    color: #163161;
}
.chatters-form .notification.success
{
    background-color: #d2f7ad;
    background-image: linear-gradient(to bottom,#e4fbce,#cef7a6);
    background-image: -moz-linear-gradient(top,#e4fbce,#cef7a6);
    background-image: -o-linear-gradient(top,#e4fbce,#cef7a6);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e4fbce),color-stop(100%,#cef7a6));
    background-image: -webkit-linear-gradient(top,#e4fbce,#cef7a6);
    border-color: #aedb2e;
    color: #363;
}
.chatters-form .notification.warning
{
    background-color: #fae7a2;
    background-image: linear-gradient(to bottom,#ffffc6,#fae49c);
    background-image: -moz-linear-gradient(top,#ffffc6,#fae49c);
    background-image: -o-linear-gradient(top,#ffffc6,#fae49c);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffc6),color-stop(100%,#fae49c));
    background-image: -webkit-linear-gradient(top,#ffffc6,#fae49c);
    border-color: #f5c558;
    color: #c60;
}
.chatters-form .notification.error
{
    background-color: #ffd5af;
    background-image: linear-gradient(to bottom,#ffe7d3,#ffd1a8);
    background-image: -moz-linear-gradient(top,#ffe7d3,#ffd1a8);
    background-image: -o-linear-gradient(top,#ffe7d3,#ffd1a8);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffe7d3),color-stop(100%,#ffd1a8));
    background-image: -webkit-linear-gradient(top,#ffe7d3,#ffd1a8);
    border-color: #f8b472;
    color: #900;
}
.chatters-form .bubble
{
    border-radius: 100%;
    box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.1);
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    height: 2em;
    left: -40px;
    line-height: 2em;
    moz-border-radius: 100%;
    moz-box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.1);
    position: absolute;
    text-align: center;
    top: -7px;
    webkit-border-radius: 100%;
    webkit-box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.1);
    width: 2em;
}
.chatters-form .bubble.blue,.chatters-form .bubble.black,.chatters-form .bubble.green,.chatters-form .bubble.red
{
    box-shadow: inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,0.15);
    webkit-box-shadow: inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
}
.chatters-form .info-tip
{
    background: #444;
    border-radius: 100%;
    color: #FFF;
    cursor: help;
    font-weight: bold;
    height: 18px;
    left: 2px;
    line-height: 19px;
    margin: 0;
    moz-border-radius: 100%;
    outline: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    text-decoration: none;
    top: -2px;
    vertical-align: auto;
    vertical-align: middle;
    webkit-border-radius: 100%;
    width: 18px;
}
.chatters-form .info-tip span
{
    background: #333;
    background: rgba(0,0,0,.8);
    border: 0;
    border-radius: 5px;
    bottom: 2.2em;
    box-shadow: 0 -3px 5px rgba(0,0,0,0.34);
    color: #fff;
    display: block;
    font-weight: normal;
    left: -10px;
    margin-top: 20px;
    moz-border-radius: 5px;
    moz-box-shadow: 0 -3px 5px rgba(0,0,0,0.34);
    moz-transition: margin .6s,opacity .6s;
    ms-transition: margin .6s,opacity .6s;
    opacity: 0;
    o-transition: margin .6s,opacity .6s;
    padding: 1em 1em;
    position: absolute;
    text-align: left;
    transition: margin .6s,opacity .6s;
    webkit-border-radius: 5px;
    webkit-box-shadow: 0 -3px 5px rgba(0,0,0,0.34);
    webkit-transition: margin .6s,opacity .6s;
    width: 15em;
    z-index: 99;
}
.chatters-form .info-tip span:after
{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
    border-top: 6px solid rgba(0,0,0,0.8);
    content: '';
    left: 13px;
    position: absolute;
    top: 100%;
}
.chatters-form .info-tip:hover,.chatters-form .info-tip:active,.chatters-form .info-tip:focus
{
    background: #000;
    overflow: visible;
}
.chatters-form .info-tip:hover span,.chatters-form .info-tip:active span,.chatters-form .info-tip:focus span
{
    margin-top: 0;
    opacity: 1;
}
.chatters-form .tooltip
{
    background: #333;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    color: #fff;
    font-size: 11px;
    left: -9999px;
    moz-border-radius: 5px;
    moz-transition: margin .6s,opacity .6s;
    ms-transition: margin .6s,opacity .6s;
    opacity: 0;
    o-transition: margin .6s,opacity .6s;
    position: absolute;
    top: auto;
    transition: margin .6s,opacity .6s;
    webkit-border-radius: 5px;
    webkit-transition: margin .6s,opacity .6s;
    width: 200px;
    z-index: 10;
}

.seltip{
    margin-top: 17px !important;
}

.radiotip{
    margin-left: -200px !important;
}

.adm_radiotip{
    margin-top: 13px !important;
    margin-left: -150px !important;
}

.checktip{
    margin-top: -8px !important;
    margin-left: 250px !important;
}

.radiotip_sala{
    margin-left: -75px !important;
}

.chatters-form .tooltip>em
{
    display: block;
    font-style: normal;
    padding: 10px;
    position: static;
}
.chatters-form .tooltip:after
{
    content: '';
    position: absolute;
}
.chatters-form .input:focus+.tooltip,.chatters-form .textarea:focus+.tooltip
{
    opacity: 1;
}
.chatters-form .tooltip.left
{
    margin-right: -20px;
    top: 1px;
}
.chatters-form .tooltip.left:after
{
    border-bottom: 6px solid transparent;
    border-left: 6px solid #333;
    border-left: 6px solid rgba(0,0,0,0.8);
    border-top: 6px solid transparent;
    left: 100%;
    top: 12px;
}
.chatters-form .input:focus+.tooltip.left,.chatters-form .textarea:focus+.tooltip.left
{
    left: auto;
    margin-right: 5px;
    right: 100%;
}
.chatters-form .tooltip.right
{
    margin-left: -20px;
    top: 1px;
}
.chatters-form .tooltip.right:after
{
    border-bottom: 6px solid transparent;
    border-right: 6px solid #333;
    border-right: 6px solid rgba(0,0,0,0.8);
    border-top: 6px solid transparent;
    right: 100%;
    top: 12px;
}
.chatters-form .input:focus+.tooltip.right,.chatters-form .textarea:focus+.tooltip.right
{
    left: 100%;
    margin-left: 5px;
}
.chatters-form .tooltip.right-top
{
    bottom: 100%;
    margin-bottom: -20px;
}
.chatters-form .tooltip.right-top:after
{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
    border-top: 6px solid rgba(0,0,0,0.8);
    right: 12px;
    top: 100%;
}
.chatters-form .input:focus+.tooltip.right-top,.chatters-form .textarea:focus+.tooltip.right-top
{
    left: auto;
    margin-bottom: 10px;
    right: 0;
}
.chatters-form .tooltip.left-top
{
    bottom: 100%;
    margin-bottom: -20px;
}
.chatters-form .tooltip.left-top:after
{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
    border-top: 6px solid rgba(0,0,0,0.8);
    left: 12px;
    top: 100%;
}
.chatters-form .input:focus+.tooltip.left-top,.chatters-form .textarea:focus+.tooltip.left-top
{
    left: 0;
    margin-bottom: 10px;
    right: auto;
}
.chatters-form .tooltip.right-bottom
{
    margin-top: -20px;
    top: 100%;
}
.chatters-form .tooltip.right-bottom:after
{
    border-bottom: 6px solid #333;
    border-bottom: 6px solid rgba(0,0,0,0.8);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    bottom: 100%;
    right: 12px;
}
.chatters-form .input:focus+.tooltip.right-bottom,.chatters-form .textarea:focus+.tooltip.right-bottom
{
    left: auto;
    margin-top: 10px;
    right: 0;
}
.chatters-form .tooltip.left-bottom
{
    margin-top: -20px;
    top: 100%;
}
.chatters-form .tooltip.left-bottom:after
{
    border-bottom: 6px solid #333;
    border-bottom: 6px solid rgba(0,0,0,0.8);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    bottom: 100%;
    left: 12px;
}
.chatters-form .input:focus+.tooltip.left-bottom,.chatters-form .textarea:focus+.tooltip.left-bottom
{
    left: 0;
    margin-top: 10px;
    right: auto;
}
.chatters-form .input[disabled],.chatters-form .textarea[disabled],.chatters-form .button[disabled],.chatters-form .options.disabled>.radio,.chatters-form .options.disabled>.checkbox,.chatters-form .disabled
{
    background-color: #f9f9f9;
    cursor: not-allowed;
    opacity: .45;
}
#demo-menu h3 a:hover
{
    background: 0;
    color: #dd514c;
}
#demo-menu h3
{
    margin: 0;
    padding: 0;
}
#demo-menu h3 a
{
    color: #0c9;
    font-size: 38px;
}
.res-image img
{
    /*    border-radius: 100%;*/
    max-width: 80%;
    /*    moz-border-radius: 100%;
        webkit-border-radius: 100%;*/
}
.power-switch
{
    background: #000;
    background: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 100%;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.7),0 1px rgba(255,255,255,0.15);
    cursor: pointer;
    display: inline-block;
    height: 1em;
    moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.7),0 1px rgba(255,255,255,0.15);
    position: absolute;
    right: 20px;
    top: 15px;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.7),0 1px rgba(255,255,255,0.15);
    width: 1em;
    z-index: 2;
}
.power-switch::before
{
    border: 3px solid #0c9;
    border-radius: 100%;
    bottom: 15%;
    content: "";
    display: block;
    left: 15.5%;
    moz-transition: all .5s ease-in-out;
    ms-transition: all .5s ease-in-out;
    o-transition: all .5s ease-in-out;
    position: absolute;
    right: 15%;
    top: 15%;
    transition: all .5s ease-in-out;
    webkit-transition: all .5s ease-in-out;
}
.power-switch::after
{
    background: #0c9;
    border-radius: 100%;
    bottom: 60%;
    box-shadow: 0 0 0 3px rgba(13,14,14,1);
    content: "";
    display: block;
    left: 47%;
    position: absolute;
    right: 47%;
    top: 9%;
    webkit-box-shadow: 0 0 0 3px rgba(13,14,14,1);
}
.fxz
{
    padding-top: 0;
}
#demo-menu h3 a:hover .power-switch::before
{
    border: 3px solid #dd514c;
}
#demo-menu h3 a:hover .power-switch::after
{
    background: #dd514c;
}
#buy-button
{
    padding: 20px 0;
}
#buy-button a
{
    background: #e84c3d;
    border-radius: .15em;
    box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
    color: #fff;
    display: inline-block;
    font-size: 2.6em;
    font-weight: 300;
    moz-border-radius: .15em;
    moz-box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
    moz-transition: all .8s ease-in-out;
    ms-transition: all .8s ease-in-out;
    o-transition: all .8s ease-in-out;
    padding: 0.8em 2em;
    text-align: center;
    text-decoration: none;
    transition: all .8s ease-in-out;
    webkit-border-radius: .15em;
    webkit-box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
    webkit-transition: all .8s ease-in-out;
}
#buy-button a:hover
{
    background: #2dcc70;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .chatters-form .select:before,.chatters-form .select:after
    {
        top: 36%;
    }
    .chatters-form .tooltip,.chatters-form .options,.menu-wrappers,.chatters-form .rating,.chatters-form .toggle-switch
    {
        webkit-animation: bugfix infinite 1s;
    }
    @-webkit-keyframes bugfix
    {
        from
        {
            padding: 0;
        }
        to
        {
            padding: 0;
        }
    }
}
@media screen and (max-width:600px)
{
    #buy-button a
    {
        width: 100%;
    }
    .col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col1-5,.col1-8
    {
        float: none;
        min-height: 1px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .demo-grids div p
    {
        margin-bottom: 10px;
    }
    .chatters-form .lbl-text.tleft
    {
        padding-top: 0;
    }
    .chatters-form .lbl-valign,.chatters-form .lbl-valign.long
    {
        padding-top: 8px;
    }
    .colspacer-one
    {
        padding-top: 10px;
    }
    .colspacer-two
    {
        padding-top: 20px;
    }
    .chatters-form .form-buttons .button
    {
        margin-bottom: 10px;
    }
    .chatters-form .form-buttons .button:last-child
    {
        margin-bottom: 0;
    }
    .chatters-form .option-group .goption,.chatters-form .toggle-group .gtoggle
    {
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .chatters-form .option-group .goption:last-child,.chatters-form .toggle-group .gtoggle:last-child
    {
        margin-bottom: 0;
    }
    label.mobile-menu span
    {
        display: inline;
    }
    .menu-wrappers
    {
        position: relative;
        z-index: 99;
    }
    .spaced
    {
        padding-top: 70px;
    }
    label.mobile-menu
    {
        background: #000;
        background: rgba(0,0,0,0.9);
        border-bottom: 1px solid white;
        cursor: pointer;
        display: block;
        padding: 10px 0;
        position: fixed;
        width: 100%;
    }
    label.mobile-menu:after
    {
        color: white;
        content: "\2261";
        font-size: 30px;
        position: absolute;
        right: 20px;
        top: 0;
    }
    #demo-menu
    {
        display: none;
    }
    #mobile-menu:checked+#demo-menu
    {
        border-radius: 5px;
        display: block;
        left: auto;
        moz-border-radius: 5px;
        right: 10px;
        top: 48px;
        webkit-border-radius: 5px;
    }
    #demo-menu:after
    {
        border-bottom: 10px solid #333 !important;
        border-bottom: 10px solid rgba(0,0,0,0.9) !important;
        border-left: 10px solid transparent !important;
        border-right: 10px solid transparent !important;
        border-top: 0;
        bottom: 100% !important;
        content: '';
        left: auto !important;
        position: absolute;
        right: 12px !important;
        top: auto !important;
    }
    #demo-menu a.last
    {
        border-radius: 0 0 5px 5px;
        moz-border-radius: 0 0 5px 5px;
        webkit-border-radius: 0 0 5px 5px;
    }
}
@media screen and (max-width:380px)
{
    .chatters-form .form-buttons
    {
        text-align: center;
    }
    .chatters-form .form-buttons .button
    {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100%;
    }
    .chatters-form span.lbl-text
    {
        text-align: right;
        width: 100%;
    }
}