@font-face{font-family:'MuseoSans-700';
           src:url("fonts/museo/museo.eot");
           src:url("fonts/museo/museo.eot") format("embedded-opentype"),
               url("fonts/museo/museo.woff") format("woff"),
               url("fonts/museo/museo.ttf") format("truetype")}

@font-face {
    font-family: 'League';
    src: url('fonts/league_gothic/league_gothic-webfont.eot');
    src: url('fonts/league_gothic/league_gothic-webfont.eot@#iefix') format('embedded-opentype'),
        url('fonts/league_gothic/league_gothic-webfont.woff') format('woff'),
        url('fonts/league_gothic/league_gothic-webfont.ttf') format('truetype'),
        url('fonts/league_gothic/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'), url(fonts/pt_sans/PTSans-Italic.woff) format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(fonts/pt_sans/PTSans-BoldItalic.woff) format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(fonts/pt_sans/PTSans-Bold.woff) format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(fonts/pt_sans/PTSans-Regular.woff) format('woff');
}

.not-no-vis, .msg-no-vis{
    background: #cad6e0;
}

.not-no-vis:hover, .msg-no-vis:hover{
    background: #a8c6e0 !important;
}

.down_arq{
    color: #4c99dd;
}

.box-upload{
    cursor: pointer;
    height: 30px;
    width: 30px !important;
    float: left;
    background: url(../media/icones/upload.png) no-repeat;
}

.box-upload:hover{
    background: url(../media/icones/blue-upload.png) no-repeat;
}

.talk-bubble {
    margin: 20px;
    display: inline-block;
    position: relative;
    max-width: 75%;
    height: auto;
    background-color: #e6edf2;
}

.talktext {
    font-family: 'PT Sans';
    padding: 1em;
    padding-top: 0;
    text-align: left;
    line-height: 1.5em;
}

.talktext p {
    margin: 0;
}

.talk_round {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.talk_border {
    border: 2px solid #666;
}

.about {
    float: left;
    margin-top: 20px !important;
    width: 490px;
    margin-left: 15px !important;
}

.about .photo-inner {
    float: left;
    background: url(../media/photo-inner.png) no-repeat;
    width: 192px;
    height: 212px;
    padding: 12px 0 0 20px;
}

.about .photo-inner img {
    background-color: #FFF;
}

.about h1 {
    font-weight: 900;
    color: #333;
    line-height: 34px;
    margin-top: 8px;
}

.about h3 {
    margin-top: 5px;
    font-size: 18px;
    color: #333;
    line-height: 18px;
}

.about p {
    font-size: 14px;
    margin-top: 15px;
    color: #333;
    font-weight: 400;
    line-height: 20px;
}

.personal-info {
    float: left;
    margin-top: 30px !important;
    width: 310px;
    min-height: 230px;
    margin-left: 10px !important;
    background: url(../media/personal-info-sep.png) no-repeat left top;
    padding: 20px 0 0 20px !important;
}

.personal-info li {
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
}

.personal-info li label {
    width: 100px;
    color: #000;
    float: left;
    padding: 4px 7px;
    font-weight: 600;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.personal-info li span {
    float: left;
    padding-top: 4px;
    font-weight: 300;
    color: #333;
}

/* === Reset === */
body{font-family:'Helvetica Neue',Arial,Helvetica, Verdana, sans-serif;margin:0;padding:0;}
ol,ul,li{list-style:none;margin:0;padding:0;border:0}
a{text-decoration:none;}
::-moz-selection{background-color:#adcdea;color:#333;text-shadow:none}
::selection{background-color:#adcdea;color:#333;text-shadow:none}
textarea, input { outline: none; }

/* === page content === */
#pagewrap{min-height:100%}
.container{margin:0 auto;width:960px}
#wrapper .container{margin:25px auto}

/* === home button === */

.btn {
    display: inline-block !important;
    padding: 4px 10px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-color: #f5f5f5 !important;
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6) !important;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6) !important;
    background-repeat: repeat-x !important;
    border: 1px solid #bbbbbb !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}

.btn:hover, .btn:active {
    text-decoration: none;
    background-position: 0px -15px !important;
    transition: background-position 0.1s linear 0s !important;
}

.btn-info {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-color: #49afcd !important;
    background-color: #2f96b4 !important;
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4) !important;
    background-image: linear-gradient(to bottom, #4e9bdf, #3e7cb3) !important;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4) !important;
    background-repeat: repeat-x !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
}
.btn-info:hover, .btn-info:active {
    color: #FFF !important;
    background-color: #3e7cb3 !important;
}

.left_btn_icon{
    margin-right: 5px !important;
}

.span_btn_icon{
    margin-left: 5px !important;
}

/* === header === */
#header{height:52px;position:fixed;width:100%;position:relative;z-index:999;background: url(../media/header_bg.png);border-bottom:1px solid #e5e5e5}
#header .container .logo{height:42px;margin:5px 0; vertical-align:middle;border:0; float:left;}
#header .container .link{font-weight:700; font-size:18px; line-height:18px; color: #222; font-family: "MuseoSans-700",Helvetica,Arial,Verdana,sans-serif; vertical-align:middle;}

/* === footer === */
#footer{font-size:11px;line-height:11px;color:#666666;overflow:hidden;clear:both;position:relative;text-shadow:rgba(255,255,255,0.3) 0px 1px;padding:0px;}
#footer .container{padding:0 0 10px}
#footer .container .copyright_info{float:left;width:450px; margin-top: 12px;}
#footer .container .copyright_info li{float:left;margin-right:10px}
#footer .container .links{float:right;width:450px; margin-top: 5px;}
#footer .container .links li{float:right;margin-left:10px; top: -10px;}

#facebook_link{
    width:25px;
    height: 25px;
    background: url(../media/icones/facebook.png);
}

#facebook_link:hover{
    background: url(../media/icones/blue-facebook.png);
}

#twitter_link{
    width:25px;
    height: 25px;
    background: url(../media/icones/twitter.png);
}

#twitter_link:hover{
    background: url(../media/icones/blue-twitter.png);
}

#separador_links{
    width: 11px;
    height: 25px;
    background: url(../media/icones/separator.png);
}

#us_flag{
    margin: -3px 5px 0 10px;
    float: left;
    width: 16px;
    height: 16px;
    background: url(../media/icones/us.png);
}

#br_flag{
    margin: -3px 5px 0 10px;
    float: left;
    width: 16px;
    height: 16px;
    background: url(../media/icones/br.png);
}

.atual_lang{
    font-weight: bold;
}

.other_lang{
    cursor: pointer;
}

.other_lang:hover{
    font-weight: bold;
}

.box_icons{
    margin-left: 10px;
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
}

.scroll-list{
    overflow: auto;
    max-height: 200px !important;
}

.scroll-pane{
    height: 450px !important;
}

.jspContainer{overflow:hidden; position:relative}
.jspPane{position:absolute}
.jspVerticalBar{position:absolute; top:0; right:17px; width:10px; height:100%}
.jspVerticalBar *{margin:0; padding:0}
.jspCap{display:none}
.jspTrack{background:#DDD; position:relative; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px}
.jspDrag{background:#333 url("../media/icones/drag.png") no-repeat 50% 50%; position:relative; top:0; left:0; cursor:pointer; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px}

#link_box_1{
    background: url(../media/icones/plus.png);
}

#link_box_2{
    background: url(../media/icones/chevron.png);
}

.size2_selected{
    background: url(../media/icones/blue-chevron.png) !important;
}

#link_box_3{
    background: url(../media/icones/chevron-expand.png);
}

.size1_selected{
    background: url(../media/icones/blue-chevron-expand.png) !important;
}

#link_box_4{
    background: url(../media/icones/card-address.png);
}

.profile_selected{
    background: url(../media/icones/blue-card-address.png) !important;
}

#link_box_5{
    background: url(../media/icones/speech-bubble-2.png);
}

#link_box_6{
    background: url(../media/icones/green_check.png);
}

.chat_selected{
    background: url(../media/icones/blue-speech-bubble-2.png) !important;
}

#main-content{position:relative;margin-bottom:-100px}
.duck-animation{background-position:-1000px 30%;background-repeat:no-repeat;height:100px}

/* === Search form === */
#email {
    padding: 25px;
    height: 30px;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
}	

#email input {
    padding: 15px 110px 15px 20px;
    width: 185px;
    font-size: 14px;
    color: rgba(17, 26, 24, 1);
    border: 0px solid #666;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .45);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .45);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .45);
    margin-right:-98px;
    background:transparent;
}

#email button {
    border: none;
    background:#10489d;
    padding: 12px 20px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    color: white;
    font-size: 12px;
    font-weight:bold;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, .5);
    opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

#email button:hover  {
    opacity: .85;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;
    cursor:pointer;
}

#email button:active {
    border: 0px solid rgba(0, 0, 0, .2);
    background: -webkit-gradient(linear, left top, left bottom, from(#10489d), to(#389cfa));
    background: -webkit-linear-gradient(top, #10489d, #10489d);
    background: -moz-linear-gradient(top, #10489d, #10489d);
    background: -ms-linear-gradient(top, #10489d, #10489d);
    background: -o-linear-gradient(top, #10489d, #10489d);
}

#subscribe-success {
    margin-top: 35px;
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(110, 110, 110, 0.8);
    text-align: center;
}

/* === Media Query === */
@media screen and (min-width: 768px){
    #normal_page #header{border-bottom:none;box-shadow:0px 1px 3px rgba(0,0,0,0.25)}
    #normal_page #parallax_wrapper{width:1920px;min-height:100%;position:relative;margin-left:-960px}
    //#normal_page #content{width:590px;margin:0 auto;color:#fff;text-align:center;z-index:2;position:fixed;top:50%;left:50%;margin:-385px -300px 0}
    //#normal_page #content .button{margin-top:35px;cursor:pointer;position:relative;z-index:99999;}
    //#normal_page #content h1{font-color:#fff;font-family:"MuseoSans-700",Helvetica,Arial,Verdana,sans-serif;font-size:55px;font-weight:normal;line-height:65px;text-shadow:0px 1px 3px rgba(0,0,0,0.45)}
    //#normal_page #content p{font-family:HelveticaNeue,Arial,Verdana,sans-serif;font-size:18px;font-weight:normal;width:512px;margin:0 auto;line-height:26px;text-shadow:0px 1px 3px rgba(0,0,0,0.45)}
    #normal_page.pagina{background: url(../media/bg.jpg)}
    //#normal_page.pagina #content{width:590px;z-index:9999}
    //#normal_page.pagina h1{margin:0 auto;padding:200px 0 20px}
    //#normal_page.pagina p a{color:#fffbe5;font-weight:bold;text-decoration:underline}
    #normal_page.pagina .scene{position:absolute;bottom:-100px;display:block;width:1920px}

    /* === scene's === */
    #normal_page.pagina .scene.scene_1{height:336px;background:url(../media/nuvens_frente.png) no-repeat left top;pozition:relative; z-index:-3;}
    #normal_page.pagina .scene.scene_2{height:500px;background:url(../media/nuvens_meio.png) no-repeat left top;pozition:relative; z-index:-2;}
    #normal_page.pagina .scene.scene_3{height:500px;background:url(../media/nuvens_tras.png) no-repeat left top;pozition:relative; z-index:-1;}

    /* === footer === */
    #normal_page.pagina #footer .container{color:#111;margin-top:0;font-size:12px;text-shadow:none}
    #normal_page.pagina #footer .container a{color:#111}
    #normal_page #footer{background-image:none;border:none;box-shadow:none;z-index:auto;height:40px;margin-top:-40px}
    #normal_page #wrapper{padding:0;overflow:hidden;position:relative}
}

@media screen and (max-width: 767px){
    #normal_page #header .container{width:auto}
    //#normal_page #content{background:#fff;padding:20px;margin:20px;border:1px solid #ccc;text-align:center;border-radius:5px;box-shadow:0px 1px 0px rgba(0,0,0,0.05)}
    //#normal_page #content h1{font-size:24px;line-height:28px;margin:0 0 10px}
    //#normal_page #content p{font-size:14px;line-height:18px;color:#666;margin:0 0 10px}
    #normal_page #footer {display:none}
}

.main-menu{
    float:left;
}
.main-menu a{
    float:left;
    padding-left:30px;
    padding-top:7px;
    list-style: none;
}

.main-menu a:first-child{
    padding-left:0px;
}

.main-menu a{
    font-family: 'League',Arial,sans-serif;
    color:#555;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.main-menu .menu_selected{
    color:#4e9bdf !important;
}

.main-menu a:hover{
    color:#BBB;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*  _______________________________________

        02 GRID
    _______________________________________  */


.container2{width:860px; height:450px; margin:100px auto; position:relative}
.grid_260, 
.grid_540, 
.grid_820{display:inline; float:left; position:relative; margin-left:20px}
.container2.grid_260{width:260px}
.container2.grid_540{width:540px}
.container2.grid_820{width:820px}
.clear{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0}
.clearfix:after{clear:both; content:' '; display:block; font-size:0; line-height:0; visibility:hidden; width:0; height:0}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}



/*  _______________________________________

        03 CONTAINERS
    _______________________________________  */



html{overflow:hidden} /* Hides scrolling bars in IE */
img{border:none; margin:0; padding:0}
#content{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    //  font-family:"Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,sans-serif; 
    //  color:#2B2B2B; 
    //  background:url("../images/background/pattern2.jpg") repeat;
}

#wrapper2{
    width:100%; 
    height:100%; 
    position:fixed;
    top:0;
    left:0;
    overflow:hidden;
}

#mask{
    width:500%;
    height:100%;
}

.item{
    width:100%;
    height:100%;
    float:left;
}

#windows_page{
    float: none !important;
    clear: both !important;
}

.content{
    width:100%;
    height:100%;
    margin:0 auto; 
    position:relative;
}

/*  _______________________________________

        03 TOOLBAR
    _______________________________________  */

.navbar .nav.pull-right {
    float: right;
    margin-right: 0;
}
.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}
.navbar-nav {
    margin: 0;
}
.pull-right {
    float: right;
}
.nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}

.navbar .nav>li {
    float: left;
}
.dropup, .dropdown {
    position: relative;
}

.nav {
    list-style: none;
}
.navbar.bg .nav>li>a {
    text-shadow: 0 1px 0 #000;
}
.bg .nav>li>a {
    color: #a5b6c7;
}
.nav.navbar-avatar>li>a {
    padding: 5px 10px;
}
.navbar .nav>li>a {
    padding: 15px 10px;
}
.navbar .nav>li>a {
    float: none;
    padding: 10px 15px 10px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}
.nav>li>a {
    display: block;
}

.nav {
    list-style: none;
}

.navbar.bg .nav>li>a {
    text-shadow: 0 1px 0 #000;
}
.bg .nav>li>a {
    color: #a5b6c7;
}
.navbar .nav>li>a {
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}
.nav {
    list-style: none;
}

.navbar-avatar .thumb-small {
    margin: 0 4px;
    vertical-align: baseline;
    display: inline-block;
    width: 36px;
}
.thumb-small {
    max-width: 36px;
}
.avatar {
    border-radius: 500px;
    background-color: #fff;
    padding: 2px;
}
.inline, .inline-desktop {
    display: inline-block;
}
.navbar.bg .nav>li>a {
    text-shadow: 0 1px 0 #000;
}
.bg .nav>li>a {
    color: #a5b6c7;
}
.navbar .nav>li>a {
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}
.nav {
    list-style: none;
}

.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}
img {
    width: auto\9;
    height: auto;
    max-width: 89%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.navbar.bg .nav>li>a {
    text-shadow: 0 1px 0 #000;
}
.bg .nav>li>a {
    color: #a5b6c7;
}
.navbar .nav>li>a {
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}
.nav {
    list-style: none;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #777777;
    border-bottom-color: #777777;
}
.navbar .nav .dropdown-toggle .caret, .nav .dropdown-toggle .caret {
    margin-top: 0;
    vertical-align: middle;
}
.navbar .nav .dropdown-toggle .caret {
    margin-top: 8px;
}
.navbar .nav .dropdown-toggle .caret, .nav .dropdown-toggle .caret {
    margin-top: 0;
    vertical-align: middle;
}
.caret_open {
    border-top: 0 !important;
    border-bottom: 4px solid #000000 !important;
    border-top-color: #0088cc !important;
    border-bottom-color: #0088cc !important;
}
.dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}
.navbar.bg .nav>li>a {
    text-shadow: 0 1px 0 #000;
}
.bg .nav>li>a {
    color: #a5b6c7;
}
.navbar .nav>li>a {
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}
.nav {
    list-style: none;
    margin: 0;
    padding:0;
}

.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu {
    position: absolute;
    top: 98%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#dropdown-menu1 {
    min-width: 0;
    width: 200px;
    top: 95%;
}

#dropdown-menu2 {
    min-width: 0;
    width: 200px;
    top: 95%;
}

#dropdown-menu4 {
    min-width: 0;
    width: 200px;
    top: 95%;
}

#dropdown-menu5 {
    min-width: 0;
    width: 200px;
    top: 95%;
}

#dropdown-menu6 {
    min-width: 0;
    width: 320px;
    top: 95%;
}

#dropdown_li1, #dropdown_li5, #dropdown_li2{
    margin-left: 5px;
}

#dropdown_li3{
    margin-left: 40px;
}

#icone_notificacao{
    cursor: pointer !important;
    width: 25px;
    height: 25px;
    font-size: 1.5em;
    vertical-align: -14%;
    text-decoration: none;
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: inline-block;
    cursor: default;
    speak: none;
    background: url(../media/icones/alarm-bell.png);
}

#icone_mensagem{
    cursor: pointer !important;
    width: 25px;
    height: 25px;
    font-size: 1.5em;
    vertical-align: -14%;
    text-decoration: none;
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: inline-block;
    cursor: default;
    speak: none;
    background: url(../media/icones/speech-bubbles.png);
}

#icone_sala{
    cursor: pointer !important;
    width: 25px;
    height: 25px;
    font-size: 1.5em;
    vertical-align: -14%;
    text-decoration: none;
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: inline-block;
    cursor: default;
    speak: none;
    background: url(../media/icones/group.png);
}

#icone_usuario{
    cursor: pointer !important;
    width: 25px;
    height: 25px;
    font-size: 1.5em;
    vertical-align: -14%;
    text-decoration: none;
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: inline-block;
    cursor: default;
    speak: none;
    background: url(../media/icones/users.png);
}

.open1-alert{
    background: url(../media/icones/red-speech-bubbles.png) !important;
}

.open2-alert{
    background: url(../media/icones/red-alarm-bell.png) !important;
}

.open1{
    background: url(../media/icones/blue-speech-bubbles.png) !important;
}

.open2{
    background: url(../media/icones/blue-alarm-bell.png) !important;
}

.open4{
    background: url(../media/icones/blue-group.png) !important;
}

.open5{
    background: url(../media/icones/blue-users.png) !important;
}

.open3 {
    background-color: #000;
    color: #FFF;
    background: none repeat scroll 0% 0% #f2f9ff;
    box-shadow: 0px 2px 1px #4f9ce0 inset;
}

.dropdown-menu:before{
    right: 12px;
    left: auto !important;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,0.2);
    content: '';
}
.dropdown-menu:after{
    right: 13px;
    left: auto !important;
}
.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.bg .nav > li > a:hover {
    color: #FFF;
}
.nav {
    list-style: none;
}

.dropdown-menu {
    list-style: none;
}

.nav {
    list-style: none;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu {
    list-style: none;
}

.dropdown-menu .badge {
    margin-top: 1px;
}
.btn-danger, .bg-danger, .btn-danger.btn-circle>i {
    color: #fff;
    background-color: #ff5f5f;
}
.badge {
    background: #b1b5b9;
    padding-left: 7px;
    padding-right: 7px;
}
.pull-right {
    float: right;
}
.badge {
    padding-right: 9px;
    padding-left: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.label, .badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}
.dropdown-menu>li>a {
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}
.dropdown-menu {
    list-style: none;
}
.nav {
    list-style: none;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}
.dropdown-menu {
    list-style: none;
}

.navbar .nav>li>div {
    padding-left: 10px;
    padding-right: 10px;
}
.m-b-small {
    margin-bottom: 10px;
}
.m-t {
    margin-top: 15px;
}

.navbar .badge-notes {
    top: -12px;
    margin-left: -15px;
    position: relative;
    font-size: 11px;
}

.btn-danger, .bg-danger, .btn-danger.btn-circle>i {
    color: #fff;
    background-color: #ff5f5f;
}

.badge {
    background: #b1b5b9;
    padding-left: 7px;
    padding-right: 7px;
}
.badge {
    padding-right: 9px;
    padding-left: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.label, .badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}

.dropdown-menu.panel {
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.m-l-small {
    margin-left: 10px;
}
form, .carousel, .form-horizontal .control-group, .nav-tabs, .alert, .panel, .progress, .breadcrumb, .accordion {
    margin-bottom: 10px;
}
.panel-large {
    min-width: 300px;
}
.panel {
    border-color: #e0e4e8;
}
.panel {
    padding: 15px 15px 0 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.bg-white {
    background: #fff;
}
.panel-heading, .panel-footer {
    border-color: #e0e4e8;
    background: #f7f8f9;
    line-height: 1.1;
}
.panel-heading {
    padding: 10px 15px;
    margin: -15px -15px 0;
    font-size: 17.5px;
    font-weight: 500;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
user agent stylesheetarticle, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
.panel-heading:before, .panel-heading:after {
    display: table;
    content: " ";
}
.panel-heading:after {
    clear: both;
}
.panel-heading:before, .panel-heading:after {
    display: table;
    content: " ";
}

.panel .list-group {
    background: transparent;
}
.m-t-n {
    margin-top: -15px;
}
.list-group-flush {
    margin: 15px -15px -15px;
}
.list-group {
    border-radius: 4px;
}
.list-group {
    margin: 0 -15px;
    background-color: #ffffff;
}

.panel .list-group.m-t-n .list-group-item:first-child {
    border-top: 0;
}
.list-group-flush .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-flush .list-group-item {
    border-width: 1px 0;
}
.list-group-item.media {
    margin-top: 0;
}
.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.media:first-child {
    margin-top: 0;
}
.media, .media .media {
    margin-top: 10px;
}
.list-group-item {
    padding-right: 15px;
    border-color: #e4e9ed;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 30px 1px 15px;
    margin-bottom: -1px;
    border: 1px solid #dddddd;
}
.media, .media .media {
    margin-top: 15px;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.media>.pull-left {
    margin-right: 10px;
}
.thumb-small {
    max-width: 36px;
}
.pull-left {
    float: left;
}
.pull-left {
    float: left;
}
.m-b-none {
    margin-bottom: 0;
}
.block {
    display: block;
    margin-bottom: 10px;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.text-muted {
    color: #919599;
}
small {
    font-size: 85%;
}
.nav>li {
    float: left;
}
.text-small {
    font-size: 12px;
}
.panel-heading, .panel-footer {
    border-color: #e0e4e8;
    background: #FFF;
    line-height: 1.1;
}
.panel-footer {
    padding: 10px 15px;
    margin: 0 -15px -15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-image: none;
    filter: none;
    background-color: #13C4A5;
    color: #FFF;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    color: #FFF;
    text-decoration: none;
    background-color: #0081C2;
    background-image: linear-gradient(to bottom, #08C, #0077B3);
    background-repeat: repeat-x;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
}
.h5 {
    font-size: 14px;
    color: #657483;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.list-group-flush .list-group-item:last-child {
    border-bottom: 0px none;
}
.list-group-item:last-child {
    margin-bottom: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
a.list-group-item:hover, a.list-group-item:focus {
    background-color: #F2F9FF;
}

a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: #F2F9FF;
}

a {
    color: #3a5a7a;
}

.arrow-top:before {
    margin-top: -7px;
    top: 0;
    right: auto !important;
    border-bottom-color: #d1d4d7 !important;
    border-width: 0 7px 7px 7px !important;
    -moz-border-top-colors: #fff !important;
}

.arrow-top:after {
    margin-top: -6px;
    top: 0;
    right: auto !important;
    border-bottom-color: #fff !important;
    border-width: 0 6px 6px 6px !important;
}

.badge-notes {
    text-align: center;
    width: 10px;
    top: -12px !important;
    margin-left: -17px !important;
    position: relative !important;
    font-size: 11px !important;
    color: #fff !important;
    background-color: #ff5f5f !important;
}

a{
    cursor: pointer !important;
}

/* ==================================================
 * 3) Boxes
 * ================================================== */

.box_container{
    position: absolute;
    top:0;
}

.size1{
    width: 225px;
    height: 200px;
}

.size2{
    width: 300px;
    height: 300px;
}

.size3{
    width: 500px;
    height: 500px;
}

/* ==================================================
 * 3a) Boxes: Header
 * ================================================== */

.box .header_box {
    background: url(../media/box_header_bg.gif);
    height: 30px;
    line-height: 34px;
    border: 1px solid #2B5177;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
}

.box .header_box.grey {
    background: url(../media/plugins/boxes/bg-header.png);
    filter: none;
    border-color: #C8C8C8;
}

.box .header_box.grey h3 {
    color: #383838;
    text-shadow: none;
}

.box.closed .header_box {
    border-bottom: 1px solid #2B5177;
    border-radius: 3px;
}

.box .header_box h3 {
    font-family: 'Helvetica';
    font-size: 13px;
    color: #6a8295;
    text-shadow: 1px 1px 3px #BBB;
    font-weight: 700;
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: -2px;
    margin-left: 8px;
    padding-left: 10px;
    background: url(../media/plugins/boxes/divider-header.png) top left no-repeat !important;
}

.box .header_box.no-icon h3 {
    background: none !important;
    margin-left: 0;
}

.box .header_box img {
    display: inline-block;
    margin: 7px auto;
    margin-left: 8px;
    float: left;
    -moz-user-select: none;
}

.box .header_box span{
    cursor: pointer;
    display: block;
    float: right;
    height: 16px;
    margin-right: 10px;
    margin-top: 8px;
    width: 16px;
}

.box .header_box .minimize_span {
    background: url(../media/icones/toggle.png) no-repeat;
}

.box.closed .header_box .minimize_span {
    background: url(../media/icones/toggle-expand.png) no-repeat;
}

.box .header_box .close_span {
    background: url(../media/icones/cross-button.png) no-repeat;
}

/* ==================================================
 * 3b) Boxes: Content
 * ================================================== */

.box .content_box {
    overflow-y: auto;
    position: absolute;
    padding: 0;
    border: 1px solid #5b5b5b;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #2B5177;
    background: #fff;
    height: 100%;
}

.size1 .content_box {
    width: 223px;
}

.size2 .content_box {
    width: 298px;
}

.size3 .content_box {
    width: 498px;
}

.box.closed .content_box {
    display: none;
}

.box .content_box.grey {
    border-top-color: #C8C8C8;
}

.box .content_box.with-actions {
    border-radius: 0;
    border-bottom: 0;
}

.box .content_box.no-header {
    border-radius: 3px;
    border: 1px solid #C8C8C8;
}

.box .content_box.no-padding {
    padding: 0;
}

.border-radius-bottom {
    border-radius: 0 0 3px 3px;
}

/* ==================================================
 * 3c) Boxes: Actions Bar
 * ================================================== */

.box .actions {
    position: absolute;
    border: 1px solid #5b5b5b;
    background: url(../media/plugins/boxes/bg-action.png) repeat-x #f7f7f7;
    border-radius: 0 0 3px 3px;
}

.size1 .actions{
    top: 232px;
    width: 223px;
}

.size2 .actions{
    top: 332px;
    width: 298px;
}

.size3 .actions{
    top: 532px;
    width: 498px;
}

.box .actions:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.box .actions input {
    margin: 0;
}

.box .actions-left {
    float: left;
    margin: 5px;
    margin-left: 10px;
}

.box .actions-right {
    float: right;
    margin: 5px;
    margin-right: 10px;
}

/* ==================================================
 * 3d) Boxes: Tabs
 * ================================================== */
.box .header_box ul {
    font-size: 12px;
    height: 23px;
    padding: 0;
    margin: 7px 0;
    margin-right: 6px;
    margin-top: 6px;
    float: right;
}

.ie .header_box ul {
    overflow: hidden;
    border-radius: 5px;
}

.box .header_box ul li {
    display: inline;
    list-style: none;
}

.box .header_box ul li a {
    padding: 0 10px;
    margin: 0;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    /* Gradient */
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefefe 0%, #f7f7f7 80%, #ededed 96%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(80%,#f7f7f7), color-stop(96%,#ededed), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#f7f7f7 80%,#ededed 96%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefefe 0%,#f7f7f7 80%,#ededed 96%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefefe 0%,#f7f7f7 80%,#ededed 96%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(top,  #fefefe 0%,#f7f7f7 80%,#ededed 96%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.box .header_box ul li:first-child a {
    border-radius: 5px 0 0 5px;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
}

.box .header_box ul li:last-child a {
    border-radius: 0 5px 5px 0;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}

.box .header_box ul li.current a {
    background: rgb(46,86,129); /* Old browsers */
    background: rgb(46,86,129); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(46,86,129,1) 0%, rgba(88,130,175,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,86,129,1)), color-stop(100%,rgba(88,130,175,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(46,86,129,1) 0%,rgba(88,130,175,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(46,86,129,1) 0%,rgba(88,130,175,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(46,86,129,1) 0%,rgba(88,130,175,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(46,86,129,1) 0%,rgba(88,130,175,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e5681', endColorstr='#5882af',GradientType=0 ); /* IE6-9 */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
    /* The inset shadow */
    -webkit-box-shadow: inset 0px 0px 3px 0px #000;
    -moz-box-shadow: inset 0px 0px 3px 0px #000;
    box-shadow: inset 0px 0px 3px 0px #000;
}

.box .header_box ul li a {
    line-height: 21px;
    display: block;
    float: left;
}

.box .header_box ul li.current a {
    color: #FFFFFF;
}

/* ==================================================
 * 5) Fallr
 * ================================================== */

/*
* Fallr v1.0.4 - jQuery Plugin
* Simple & elegant modal box jQuery plugin
*
*/

#fallr-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: #333;
    height: 100%;
    width: 100%;
    background-color: #446d99;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#fallr-wrapper,
#fallr-wrapper * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #555;
    text-shadow: 1px 1px 1px #fff;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

#fallr-wrapper {
    position: fixed;
    overflow: hidden;
    background: #f0f0f0;
    border: 1px solid #fff;
    box-shadow: 0 0 5px #111;
    -moz-box-shadow: 0 0 5px #111;
    -webkit-box-shadow: 0 0 5px #111;
}

#fallr-icon {
    position: absolute;
    top: 35px;
    left: 20px;
    height: 64px;
    width: 64px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

#fallr {
    position: relative;
    padding: 40px 20px 0px 72px;
}

#fallr-buttons {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 15px;
    clear: both;
    display: block;
    text-align: right;
}

/*  Github button style*/

#fallr-wrapper .fallr-button,
#fallr button,
#fallr input[type="submit"] {
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: 4px 15px; 
    border: 1px solid #d4d4d4; 
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff;
    white-space: nowrap; 
    cursor: pointer;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box; 
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
}

#fallr-wrapper .fallr-button:hover,
#fallr-wrapper .fallr-button:focus,
#fallr button:hover,
#fallr button:focus,
#fallr input[type="submit"]:hover,
#fallr input[type="submit"]:focus {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #3C8DDE;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

#fallr-wrapper .fallr-button.fallr-button-danger {
    color: #900;
}

#fallr-wrapper .fallr-button.fallr-button-danger:hover,
#fallr-wrapper .fallr-button.fallr-button-danger:focus {     
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff; 
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}

#fallr abbr {
    border-bottom: 1px dotted #333;
}

#fallr h1, 
#fallr h2,
#fallr h3,
#fallr h4,
#fallr h5,
#fallr h6,
#fallr p,
#fallr form,
#fallr input,
#fallr label {
    margin-bottom: 10px;
}

#fallr h3 {
    font-size: 30px;
    line-height: 45px;
}

#fallr h4 {
    font-size: 25px;
    line-height: 37px;
}

#fallr h5 {
    font-size: 20px;
    line-height: 30px;
}

#fallr input[type="text"],
#fallr input[type="password"], 
#fallr textarea {
    background: #fff;
    border: solid 1px #999;
    color: #777;
    padding: 5px;
    width: 97%;
    box-shadow: inset #bbb 0px 0px 5px;
    -moz-box-shadow: inset #bbb 0px 0px 5px;
    -webkit-box-shadow: inset #bbb 0px 0px 5px; 
}

#fallr ol li, 
#fallr ul li,
#fallr blockquote, 
#fallr q {
    margin-left: 20px;
}

#fallr table {
    border: 1px solid #ddd;
    border-collapse:collapse;
    border-spacing: 0;
    line-height: 1.35em;
    width: 100%;
}

#fallr th, 
#fallr td {
    padding: 10px;
}

#fallr th {
    background-color: #cecece;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#cecece));
    background-image: -moz-linear-gradient(#ececec, #cecece);
    background-image: -o-linear-gradient(#ececec, #cecece);
    background-image: linear-gradient(#ececec, #cecece);
}

/* custom icons */

.icon-calendar {
    background: url('../media/icones/day-calendar.png');
}

.icon-card {
    background: url('../media/icones/v-card.png');
}

.icon-check {
    background: url('../media/icones/task-complete.png');
}

.icon-config {
    background: url('../media/icones/tools.png');
}

.icon-error {
    background: url('../media/icones/acces-denied-sign.png');
}

.icon-form {
    background: url('../media/icones/fountain-pen.png');
}

.icon-help {
    background: url('../media/icones/help.png');
}

.icon-info {
    background: url('../media/icones/info---about.png');
}

.icon-lamp {
    background: url('../media/icones/light-bulb.png');
}

.icon-mail {
    background: url('../media/icones/mail.png');
}

.icon-news {
    background: url('../media/icones/rss.png');
}

.icon-photo {
    background: url('../media/icones/image-file.png');
}

.icon-save {
    background: url('../media/icones/folder.png');
}

.icon-secure {
    background: url('../media/icones/locked-2.png');
}

.icon-trash {
    background: url('../media/icones/trashcan-2.png');
}

.icon-user {
    background: url('../media/icones/users-2.png');
}

.icon-warning {
    background: url('../media/icones/alert.png');
}

.icon-wizard {
    background: url('../media/icones/cog-5.png');
}

//Janela Modal

.modals {
    position: fixed;
    left: 0;
    top: 0;
}

.mask_modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #555;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.8;
    z-index: 10000;
}

#modal_box {
    display:none;
    z-index:19000;
}

#perfil_modal {
    display: none;
    z-index: 19000;
}

#edit_perfil_modal {
    display: none;
    z-index: 19000;
}

#modal_box .close_modal {
    background-image: url('../media/icones/big-cross-circle.png');
    position: absolute;
    left: 588px;
    top: -10px;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#perfil_modal .close_modal {
    background-image: url('../media/icones/big-cross-circle.png');
    position: absolute;
    left: 848px;
    top: -10px;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#edit_perfil_modal .close_modal {
    background-image: url('../media/icones/big-cross-circle.png');
    position: absolute;
    left: 828px;
    top: -10px;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}